<div class="modal-overlay modal-close fixed inset-0 z-[999] bg-black/80" aria-hidden="true">
  <div
    class="bg-background-12 dark:bg-background-6 modal-content fixed top-1/2 left-1/2 w-full max-w-[350px] -translate-x-1/2 -translate-y-1/2 space-y-3 rounded-2xl p-2 sm:max-w-[470px] sm:space-y-6"
  >
    <div class="space-y-2.5 p-4 text-center sm:space-y-5 sm:p-10.5">
      <figure class="mx-auto size-13 shrink-0">
        <img src="./images/shared/logo.svg" alt="Nexsas" class="h-full w-full object-contain" />
      </figure>
      <div class="space-y-2.5 text-center sm:space-y-5">
        <h4 id="join-modal-title">Join the Nexsas</h4>
        <p>
          Your lifestyle is unique—your insurance should be too. Our team helps you find the perfect
          policy by analyzing your needs, explaining your options, and guiding you through every
          step.
        </p>
      </div>
    </div>
    <form class="dark:bg-background-7 rounded-xl bg-white p-5 sm:p-6">
      <div class="space-y-2.5 sm:space-y-4">
        <fieldset class="space-y-1.5">
          <label
            for="first-name"
            class="text-tagline-1 text-secondary dark:text-accent block font-medium select-none"
            >First name</label
          >
          <input
            type="text"
            id="first-name"
            class="auth-form-input !h-11 px-4 py-3.5 sm:!h-13"
            placeholder="Enter your name"
          />
        </fieldset>
        <fieldset class="space-y-1.5">
          <label
            for="email"
            class="text-tagline-1 text-secondary dark:text-accent block font-medium select-none"
          >
            Email
          </label>
          <input
            type="email"
            id="email"
            class="auth-form-input !h-11 px-4 py-3.5 sm:!h-13"
            placeholder="Enter your email"
          />
        </fieldset>
      </div>
      <fieldset class="space-x-2 py-4 sm:py-8">
        <label class="inline-flex cursor-pointer items-start gap-2">
          <input
            type="checkbox"
            name="terms"
            required=""
            class="peer sr-only"
            aria-label="Remember me"
          />
          <span
            class="border-stroke-3 dark:border-stroke-7 after:bg-primary-500 peer-checked:border-primary-500 relative mt-1 size-5 shrink-0 cursor-pointer rounded-full border after:absolute after:top-1/2 after:left-1/2 after:size-3 after:-translate-x-1/2 after:-translate-y-1/2 after:rounded-full after:opacity-0 peer-checked:after:opacity-100"
          ></span>
          <span
            class="sm:text-tagline-1 text-tagline-2 text-secondary/80 dark:text-accent/80 font-normal select-none"
          >
            I consent to recevie news, updates, promotional material and live concert information
            and materials from huntrix community
          </span>
        </label>
      </fieldset>
      <div>
        <button type="submit" class="group block w-full list-none">
          <div
            class="bg-primary-500 shadow-1 group-hover:bg-secondary text-accent text-tagline-1 mx-auto flex w-full cursor-pointer items-center justify-center gap-1.5 rounded-full px-6 py-2.5 text-center font-medium text-nowrap lowercase transition-all duration-500 ease-in-out group-hover:scale-101 md:mx-0 md:w-auto md:px-8 md:py-3.5"
          >
            <span
              class="inline-block transition-transform duration-300 ease-in-out first-letter:uppercase"
              >Discover</span
            >
            <div class="relative size-6 overflow-hidden">
              <!-- one  -->
              <span
                class="absolute inset-0 -translate-x-6 transition-transform duration-300 ease-in-out group-hover:translate-x-1"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path d="M11 5H13V7H11V5Z" fill="white" />
                  <path d="M5 5H7V7H5V5Z" fill="white" />
                  <path d="M14 8H16V10H14V8Z" fill="white" />
                  <path d="M8 8H10V10H8V8Z" fill="white" />
                  <path d="M17 11H19V13H17V11Z" fill="white" />
                  <path d="M11 11H13V13H11V11Z" fill="white" />
                  <path d="M14 14H16V16H14V14Z" fill="white" />
                  <path d="M8 14H10V16H8V14Z" fill="white" />
                  <path d="M11 17H13V19H11V17Z" fill="white" />
                  <path d="M5 17H7V19H5V17Z" fill="white" />
                </svg>
              </span>

              <!-- two  -->
              <span
                class="absolute -translate-x-2 transition-transform duration-300 ease-in-out group-hover:translate-x-6"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path d="M11 5H13V7H11V5Z" fill="white" />
                  <path d="M5 5H7V7H5V5Z" fill="white" />
                  <path d="M14 8H16V10H14V8Z" fill="white" />
                  <path d="M8 8H10V10H8V8Z" fill="white" />
                  <path d="M17 11H19V13H17V11Z" fill="white" />
                  <path d="M11 11H13V13H11V11Z" fill="white" />
                  <path d="M14 14H16V16H14V14Z" fill="white" />
                  <path d="M8 14H10V16H8V14Z" fill="white" />
                  <path d="M11 17H13V19H11V17Z" fill="white" />
                  <path d="M5 17H7V19H5V17Z" fill="white" />
                </svg>
              </span>
            </div>
          </div>
        </button>
      </div>
    </form>
  </div>
  <button
    class="close-join-modal modal-close-btn absolute top-4 right-4 flex size-5 cursor-pointer items-center justify-center sm:size-6"
    aria-label="Close join modal"
  >
    <span class="sr-only">Close</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path
        d="M19 5L5 19"
        class="stroke-accent"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M5 5L19 19"
        class="stroke-accent"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </button>
</div>
