/* =========================
Common Styles all over the sites
=========================== */
* {
  @apply box-border;
}

[data-ns-animate] {
  opacity: 0;
}

/* ==========Container========== */

@utility main-container {
  @apply lp:px-0 mx-auto max-w-[1290px] px-5;
}

/* ==========SCROLLBAR========== */
.scroll-bar::-webkit-scrollbar {
  @apply hidden;
}

.scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* ==========FOOTER========== */
@utility footer-link {
  @apply text-tagline-1 max-[426px]:text-tagline-2 text-primary-50 relative inline-block overflow-hidden font-normal before:absolute before:bottom-0 before:left-0 before:h-px before:w-full before:origin-right before:scale-x-0 before:bg-white before:transition-transform before:duration-500 before:content-[''] hover:before:origin-left hover:before:scale-x-100 dark:before:bg-white;
}

.footer-link-v2 {
  @apply text-tagline-1 text-secondary max-[426px]:text-tagline-2 dark:text-accent before:bg-secondary relative inline-block overflow-hidden font-normal before:absolute before:bottom-0 before:left-0 before:h-px before:w-full before:origin-right before:scale-x-0 before:transition-transform before:duration-500 before:content-[''] hover:before:origin-left hover:before:scale-x-100 dark:before:bg-white;
}

.footer-social-link {
  @apply transition-transform duration-300 hover:-translate-y-1;
}

/* ===========Animation Flipping Card =========== */
.flipper {
  @apply relative h-full w-full transition-transform duration-[900ms] [transform-style:preserve-3d];
}

.group:hover .flipper {
  @apply rotate-y-180;
}

.front,
.back {
  @apply [backface-visibility:hidden];
}

.front {
  @apply z-20;
}

.back {
  @apply z-10 rotate-y-180;
}

/* ==========SERVICES DETAILS========== */
.services-details-content {
  h2 {
    @apply text-heading-4 pb-2 font-normal;
  }

  p {
    @apply pb-6;
  }

  figure {
    @apply w-full max-w-[767px] py-[72px];

    img {
      @apply h-full w-full rounded-xl object-cover;
    }
  }
}

/* ==========BLOG DETAILS========== */
.details-body {
  @apply mx-auto max-w-[950px];
  h3 {
    @apply text-heading-5 md:text-heading-4 mb-3 font-normal not-first:mt-7 lg:not-first:mt-[70px];
  }
  h4 {
    @apply text-tagline-1 dark:text-accent before:bg-secondary dark:before:bg-accent mb-2 font-normal before:relative before:top-0.5 before:left-0 before:mr-1.5 before:inline-block before:h-2 before:w-2 before:-translate-y-1/2 before:rounded-full before:content-[''];
  }
  p {
    @apply pb-6;
  }
  img {
    @apply mt-10 rounded-lg md:mt-[70px] md:rounded-4xl;
  }

  ul {
    @apply space-y-4;
    li {
      @apply text-tagline-1 dark:text-accent before:relative before:left-0 before:mr-3 before:h-5 before:w-5 before:content-[url('/images/icons/checkmark-white.svg')] before:max-md:top-0 before:md:top-1 dark:before:content-[url('/images/icons/checkmark-white.svg')];
    }
  }
  ol {
    @apply space-y-4;
    li:first-child {
      @apply text-tagline-1 dark:text-accent font-medium before:relative before:top-1 before:left-0 before:mr-3 before:h-5 before:w-5 before:content-[url('/images/icons/checkmark-white.svg')] dark:before:content-[url('/images/icons/checkmark-white.svg')];
    }
    li:nth-child(2) {
      @apply text-tagline-1 dark:text-accent font-medium before:relative before:top-1 before:left-0 before:mr-3 before:h-5 before:w-5 before:content-[url('/images/icons/checkmark-white.svg')] dark:before:content-[url('/images/icons/checkmark-white.svg')];
    }
    li:last-child {
      @apply text-tagline-1 dark:text-accent font-medium before:relative before:top-1 before:left-0 before:mr-3 before:h-5 before:w-5 before:content-[url('/images/icons/checkmark-white.svg')] dark:before:content-[url('/images/icons/checkmark-white.svg')];
    }
  }
}

/* Terms & Conditions */
.terms-conditions-body {
  h3 {
    @apply text-heading-5 md:text-heading-4 mt-10 mb-3 font-normal md:mt-[70px];
  }
  p {
    strong {
      @apply text-tagline-1 text-secondary font-medium;
    }
  }
  a {
    @apply mt-14 md:mt-[70px];
  }
  ul {
    @apply space-y-3;
    li {
      @apply text-tagline-1 text-secondary/60 dark:text-accent/60 before:bg-secondary dark:before:bg-accent mb-2 font-normal before:relative before:left-0 before:mr-2 before:inline-block before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full before:content-[''];
    }
  }
}

.refund-policy,
.process-steps,
.privacy-policy,
.changelog,
.documentation,
.analytics {
  ul {
    li {
      @apply before:bg-secondary dark:before:bg-accent list-none before:relative before:left-0 before:mr-2 before:inline-block before:h-1.5 before:w-1.5 before:-translate-y-1/2 before:rounded-full before:content-[''];
    }
  }
}

/* ==========AUTHENTICATION========== */

.auth-form-input {
  @apply border-stroke-3 bg-background-1 placeholder:text-tagline-2 placeholder:text-secondary/60 text-secondary text-tagline-1 dark:bg-background-6 dark:border-stroke-7 dark:placeholder:text-accent/60 dark:text-accent block h-[45px] w-full rounded-full border px-[18px] py-3 font-normal placeholder:font-normal focus:ring-0 focus:outline-none;
}

/* ==========CASE STUDY DETAILS========== */

.case-study-details {
  ul {
    li {
      @apply text-tagline-1 text-secondary/60;
      strong {
        @apply text-secondary text-tagline-1 font-medium;
      }
    }
  }
}

.case-study-feature {
  ul {
    @apply space-y-4;
    li {
      @apply text-tagline-1 before:bg-secondary dark:before:bg-accent before:relative before:top-[-1.8px] before:mr-3 before:inline-block before:size-2 before:rounded-full before:content-[''];
    }
  }
}

/* ==========MARQUEE LEFT & RIGHT MASK OVERRIDE========== */
.horizontal-marquee.smooth {
  -webkit-mask: none !important;
  mask: none !important;
}

/* MODAL */

.modal-open {
  @apply grid;
}

.modal-close {
  @apply hidden;
}
.stack-cards {
  --stack-cards-gap: 24px;
}

.stack-cards__item {
  @apply sticky top-28 origin-top overflow-hidden;
}

/* ==========HERO BG OVERLAY ========== */
@utility hero-bg-overlay-light {
  @apply bg-linear-[180deg,rgba(255,255,255,0.8)_43.93%,#fff_100%];
}

@utility hero-bg-overlay-dark {
  @apply bg-linear-[180deg,rgba(7,11,16,0.9)_0%,#070B10_100%];
}

@keyframes top-to-bottom {
  0% {
    top: -30%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 100%;
  }
}

.gradient-line-1 {
  animation: top-to-bottom 6s 0s linear infinite;
}
.gradient-line-2 {
  animation: top-to-bottom 6s 900ms linear infinite;
}
.gradient-line-3 {
  animation: top-to-bottom 6s 1500ms linear infinite;
}
.gradient-line-4 {
  animation: top-to-bottom 6s 10ms linear infinite;
}
.gradient-line-5 {
  animation: top-to-bottom 6s 1800ms linear infinite;
}
.gradient-line-6 {
  animation: top-to-bottom 6s 600ms linear infinite;
}
.gradient-line-7 {
  animation: top-to-bottom 6s 2000ms linear infinite;
}
.gradient-line-8 {
  animation: top-to-bottom 6s 1200ms linear infinite;
}

.table-of-contents .table-of-list li {
  @apply cursor-pointer transition-all duration-300 ease-in-out;
}

.table-of-contents .table-of-list li:hover span:first-child,
.table-of-contents .table-of-list li:hover a span {
  @apply text-secondary dark:text-accent;
}

.table-of-contents .table-of-list li span:last-child {
  @apply transition-opacity duration-300 ease-in-out;
}

.table-of-contents .table-of-list li:hover span:last-child {
  @apply opacity-60;
}

/* ==========HERO TEXT GRADIENT========== */

.hero-text-gradient {
  animation: textAnimate 5s linear infinite;
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block;
  background-repeat: no-repeat;
}

.hero-text-color-1 {
  background-image: linear-gradient(45deg, #a585ff, #ffc2ad, #a585ff);
}

.hero-text-color-2 {
  background-image: linear-gradient(45deg, #83e7ee, #f9eb57, #83e7ee);
}

@keyframes textAnimate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#theme-toggle::before {
  @apply absolute top-[-3px] right-[-4px] h-[7px] w-3.5 rotate-90 bg-radial-[circle_at_0_100%,transparent_6px,var(--color-background-8)_7px] bg-size-[50%_100%] bg-no-repeat content-[''];
}

#theme-toggle::after {
  @apply absolute right-[-7px] bottom-[-7px] h-[7px] w-3.5 rotate-0 bg-radial-[circle_at_0_100%,transparent_6px,var(--color-background-8)_7px] bg-size-[50%_100%] bg-no-repeat content-[''];
}

.dark {
  #theme-toggle::before {
    @apply bg-radial-[circle_at_0_100%,transparent_6px,#ffffff_7px];
  }

  #theme-toggle::after {
    @apply bg-radial-[circle_at_0_100%,transparent_6px,#ffffff_7px];
  }
}

/*==========IMG BEFORE AFTER SLIDER========== */
.after {
  clip-path: inset(0 50% 0 0);
}

.slider-handle.no-transition {
  transition: none !important;
}
.slider-handle.no-transition .handle-circle {
  transition: none !important;
}

/* glossary page two cards { */

.glossary-card {
  display: none;
}

/* ==========AI VOICE GENERATOR========== */

.ai-voice-generator-integration-circle {
  animation: spin 50s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.voice-sample-item-active {
  @apply bg-ns-linen;
}
