<!-- clients section  -->

<section
  class="py-16 lg:py-28 xl:py-39"
  aria-labelledby="clients-heading"
  itemscope
  itemtype="https://schema.org/Organization"
  aria-label="Trusted clients and partners"
>
  <div class="main-container">
    <div class="relative overflow-hidden text-center">
      <h2
        id="clients-heading"
        data-ns-animate
        data-delay="0.1"
        class="mx-auto mb-14 max-w-[800px] text-center font-normal"
        itemprop="description"
      >
        Trusted by
        <span class="text-ns-linen" itemprop="numberOfEmployees"> 10,000+</span> creators and brands
        worldwide
      </h2>

      <div data-ns-animate data-delay="0.2">
        <div
          class="logos-marquee-container mt-14 overflow-hidden"
          role="img"
          aria-label="Logos of trusted companies and brands using AI Voice Generator"
          itemscope
          itemtype="https://schema.org/ItemList"
        >
          <div class="flex items-center justify-center gap-x-14">
            <figure
              class="ml-14 h-[45px] w-[135px] shrink-0"
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/Organization"
              role="img"
              aria-label="Scapic company logo"
            >
              <img
                src="./images/icons/scapic-metal.svg"
                alt="Scapic company logo"
                width="135"
                height="45"
                loading="lazy"
                decoding="async"
                itemprop="logo"
              />
            </figure>
            <figure
              class="h-[45px] w-[128px] shrink-0"
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/Organization"
              role="img"
              aria-label="Asana company logo"
            >
              <img
                src="./images/icons/asana-metal.svg"
                alt="Asana company logo"
                width="128"
                height="45"
                loading="lazy"
                decoding="async"
                itemprop="logo"
              />
            </figure>
            <figure
              class="h-[45px] w-[160px] shrink-0"
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/Organization"
              role="img"
              aria-label="Discord company logo"
            >
              <img
                src="./images/icons/discord-metal.svg"
                alt="Discord company logo"
                width="160"
                height="45"
                loading="lazy"
                decoding="async"
                itemprop="logo"
              />
            </figure>
            <figure
              class="h-[45px] w-[164px] shrink-0"
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/Organization"
              role="img"
              aria-label="Dropbox company logo"
            >
              <img
                src="./images/icons/dropbox-metal.svg"
                alt="Dropbox company logo"
                width="164"
                height="45"
                loading="lazy"
                decoding="async"
                itemprop="logo"
              />
            </figure>
            <figure
              class="h-[45px] w-[124px] shrink-0"
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/Organization"
              role="img"
              aria-label="Hotjar company logo"
            >
              <img
                src="./images/icons/hotjar-metal.svg"
                alt="Hotjar company logo"
                width="124"
                height="45"
                loading="lazy"
                decoding="async"
                itemprop="logo"
              />
            </figure>
            <figure
              class="h-[45px] w-[148px] shrink-0"
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/Organization"
              role="img"
              aria-label="Lattice company logo"
            >
              <img
                src="./images/icons/lattice-metal.svg"
                alt="Lattice company logo"
                width="148"
                height="45"
                loading="lazy"
                decoding="async"
                itemprop="logo"
              />
            </figure>
            <figure
              class="h-[45px] w-[128px] shrink-0"
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/Organization"
              role="img"
              aria-label="Notion company logo"
            >
              <img
                src="./images/icons/notion-metal.svg"
                alt="Notion company logo"
                width="128"
                height="45"
                loading="lazy"
                decoding="async"
                itemprop="logo"
              />
            </figure>
            <figure
              class="h-[45px] w-[168px] shrink-0"
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/Organization"
              role="img"
              aria-label="Outreach company logo"
            >
              <img
                src="./images/icons/outreach-metal.svg"
                alt="Outreach company logo"
                width="168"
                height="45"
                loading="lazy"
                decoding="async"
                itemprop="logo"
              />
            </figure>
            <figure
              class="h-[45px] w-[136px] shrink-0"
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/Organization"
              role="img"
              aria-label="Spotify company logo"
            >
              <img
                src="./images/icons/spotify-metal.svg"
                alt="Spotify company logo"
                width="136"
                height="45"
                loading="lazy"
                decoding="async"
                itemprop="logo"
              />
            </figure>
            <figure
              class="h-[45px] w-[250px] shrink-0"
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/Organization"
              role="img"
              aria-label="Squarespace company logo"
            >
              <img
                src="./images/icons/squarespace-metal.svg"
                alt="Squarespace company logo"
                width="250"
                height="45"
                loading="lazy"
                decoding="async"
                itemprop="logo"
              />
            </figure>
            <figure
              class="h-[45px] w-[123px] shrink-0"
              itemprop="itemListElement"
              itemscope
              itemtype="https://schema.org/Organization"
              role="img"
              aria-label="Stripe company logo"
            >
              <img
                src="./images/icons/stripe-metal.svg"
                alt="Stripe company logo"
                width="123"
                height="45"
                loading="lazy"
                decoding="async"
                itemprop="logo"
              />
            </figure>
          </div>
        </div>
      </div>
      <!-- left gradient -->
      <div
        class="absolute bottom-[0%] left-0 h-[80px] w-[80px] sm:h-[130px] md:w-[150px] xl:left-[-20%] 2xl:w-[455px]"
        style="background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #fff 39.14%)"
        aria-hidden="true"
        role="presentation"
        aria-label="Decorative left gradient fade"
      ></div>
      <!-- right gradient -->
      <div
        class="absolute right-0 bottom-[0%] h-[80px] w-[80px] rotate-180 sm:h-[130px] md:w-[150px] xl:right-[-20%] 2xl:w-[455px]"
        style="background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #fff 39.14%)"
        aria-hidden="true"
        role="presentation"
        aria-label="Decorative right gradient fade"
      ></div>
    </div>
  </div>
</section>
