<div>
  <div
    class="dropdown-menu-bridge pointer-events-none absolute top-full left-1/2 z-40 h-3 w-full min-w-[692px] -translate-x-1/2 bg-transparent opacity-0"
  ></div>
  <div
    id="company-mega-menu"
    class="dropdown-menu dark:bg-background-6 border-stroke-1 dark:border-background-7 pointer-events-none absolute top-full left-1/2 z-50 mt-2 flex w-full -translate-x-1/2 items-start gap-y-6 rounded-[20px] border bg-white p-4 opacity-0 transition-all duration-300 md:w-[692px] md:gap-x-8"
  >
    <ul class="w-full space-y-2 md:max-w-[284px]">
      <li>
        <a
          href="./ai-voice-generator-about.html"
          class="group relative flex items-start gap-3 rounded-[10px] p-3 transition-all duration-300"
        >
          <Component
            src="src/components/shared/hover-bg-transform.htm"
            class="group-hover:bg-ns-ivory/70"
          />
          <div class="relative z-10 mt-1">
            <Component src="src/components/shared/menu-icon/about-icon.htm" />
          </div>
          <div class="relative z-10 space-y-0.5">
            <p class="text-tagline-1 text-secondary dark:text-accent font-normal">About Us</p>
            <p class="text-tagline-3 text-secondary/60 dark:text-accent/60 font-normal">
              Learn about our mission, values, and dedicated team
            </p>
          </div>
        </a>
      </li>
      <li>
        <a
          href="./ai-voice-generator-services.html"
          class="group relative flex items-start gap-3 rounded-[10px] p-3 transition-all duration-300"
        >
          <Component
            src="src/components/shared/hover-bg-transform.htm"
            class="group-hover:bg-ns-ivory/70"
          />
          <div class="relative z-10 mt-1">
            <Component src="src/components/shared/menu-icon/service-icon.htm" />
          </div>
          <div class="relative z-10 space-y-0.5">
            <p class="text-tagline-1 text-secondary dark:text-accent font-normal">Our Services</p>
            <p class="text-tagline-3 text-secondary/60 dark:text-accent/60 font-normal">
              Explore our comprehensive investment solutions
            </p>
          </div>
        </a>
      </li>
      <li>
        <a
          href="./ai-voice-generator-features.html"
          class="group relative flex items-start gap-3 rounded-[10px] p-3 transition-all duration-300"
        >
          <Component
            src="src/components/shared/hover-bg-transform.htm"
            class="group-hover:bg-ns-ivory/70"
          />
          <div class="relative z-10 mt-1">
            <Component src="src/components/shared/menu-icon/feature-icon.htm" />
          </div>
          <div class="relative z-10 space-y-0.5">
            <p class="text-tagline-1 text-secondary dark:text-accent font-normal">
              Product Features
            </p>
            <p class="text-tagline-3 text-secondary/60 dark:text-accent/60 font-normal">
              Discover powerful investment tools and capabilities
            </p>
          </div>
        </a>
      </li>
      <li>
        <a
          href="./ai-voice-generator-blog.html"
          class="group relative flex items-start gap-3 rounded-[10px] p-3 transition-all duration-300"
        >
          <Component
            src="src/components/shared/hover-bg-transform.htm"
            class="group-hover:bg-ns-ivory/70"
          />
          <div class="relative z-10 mt-1">
            <Component src="src/components/shared/menu-icon/blog-icon.htm" />
          </div>
          <div class="relative z-10 space-y-0.5">
            <p class="text-tagline-1 text-secondary dark:text-accent font-normal">Blog & News</p>
            <p class="text-tagline-3 text-secondary/60 dark:text-accent/60 font-normal">
              Stay updated with latest articles and insights
            </p>
          </div>
        </a>
      </li>
    </ul>
    <figure class="flex-1 space-y-3">
      <p class="text-tagline-2 text-secondary/60 dark:text-accent/60 font-medium">What's New</p>
      <a href="./ai-voice-generator-blog-details.html" class="block">
        <figure
          class="group relative min-h-[272px] w-full max-w-full overflow-hidden rounded-[14px]"
        >
          <img
            src="./images/ns-img-419.jpg"
            alt="What's New"
            class="h-full w-full rounded-[14px] object-cover transition-all duration-500 ease-in-out group-hover:scale-105"
          />
          <div
            class="absolute top-4 left-4 size-full space-y-1 transition-all duration-500 ease-in-out group-hover:top-5 group-hover:left-5"
          >
            <p class="text-tagline-1 font-medium text-white">Investment Management</p>
            <p class="text-tagline-3 w-full max-w-[212px] font-normal text-white/60">
              Investment Management is a platform that helps you manage your investments.
            </p>
          </div>
        </figure>
      </a>
    </figure>
  </div>
</div>
