<!-- cta section  -->

<section
  class="py-[80px] md:py-[112px]"
  aria-labelledby="cta-heading"
  itemscope
  itemtype="https://schema.org/WebPageElement"
>
  <div class="main-container">
    <div class="space-y-5 text-center">
      <span
        data-ns-animate
        data-delay="0.1"
        class="badge badge-ivory uppercase"
        aria-label="Call to action section badge"
        itemprop="name"
        >CTA</span
      >
      <div class="space-y-3">
        <h2
          data-ns-animate
          data-delay="0.2"
          id="cta-heading"
          class="mx-auto max-w-[689px] text-center font-medium"
          itemprop="headline"
        >
          Start creating <span class="text-ns-linen">stunning voiceover</span> today
        </h2>
        <p data-ns-animate data-delay="0.3" itemprop="description">
          Join thousands using Nexsas to create lifelike voices—no mic, no hassle.
        </p>
      </div>
    </div>

    <div data-ns-animate data-delay="0.4" class="mx-auto mt-[76px] w-[90%] text-center md:w-auto">
      <Component
        src="src/components/shared/button-v2.htm"
        btn-class="btn-xl-v2 btn-secondary-v2 group-hover/btn-v2:btn-primary-v2"
        btn-text="Book your free strategy call"
        page-link="./ai-voice-generator-signup.html"
        aria-label="Book your free strategy call - Navigate to signup page"
      />
    </div>
  </div>
</section>
