<!-- features section -->
<section class="bg-ns-ivory py-[80px] md:py-[120px] lg:py-[176px]">
  <div class="main-container">
    <div class="space-y-[76px]">
      <div class="flex flex-col items-center justify-between gap-y-5 lg:flex-row">
        <!-- content  -->
        <div class="space-y-5 text-center lg:text-left">
          <span
            data-ns-animate
            data-delay="0.1"
            class="badge badge-white text-secondary font-medium"
          >
            Features
          </span>

          <div class="space-y-3">
            <h2
              data-ns-animate
              data-delay="0.2"
              id="services-heading"
              class="mx-auto max-w-[450px] text-center lg:mx-0 lg:max-w-[505px] lg:text-left"
              itemprop="name"
            >
              Powerful <span class="text-ns-linen">AI voice </span> tools built for everyone
            </h2>

            <p
              data-ns-animate
              data-delay="0.3"
              class="mx-auto max-w-[400px] text-center lg:mx-0 lg:text-left"
              itemprop="description"
            >
              From creators to enterprises, Nexsas helps you produce high-quality voiceover without
              the studio.
            </p>
          </div>
        </div>

        <div
          data-ns-animate
          data-delay="0.4"
          class="mt-auto mb-0 flex w-full items-center justify-center md:w-auto"
        >
          <div class="mx-auto w-[90%] text-center md:w-auto lg:text-right">
            <Component
              src="src/components/shared/button-v2.htm"
              page-link="./ai-voice-generator-features.html"
              btn-class="btn-xl-v2 btn-secondary-v2 group-hover/btn-v2:btn-primary-v2"
              btn-text="Explore features"
            />
          </div>
        </div>
      </div>

      <!-- cards  -->
      <div class="space-y-4 sm:space-y-2">
        <!-- card (one - three) -->
        <div class="flex flex-col items-center gap-y-4 md:flex-row md:gap-x-2 md:gap-y-0">
          <!-- card one  -->
          <div
            data-ns-animate
            data-delay="0.1"
            class="relative h-[350px] w-full max-w-[642px] space-y-[98px] overflow-hidden rounded-4xl bg-white p-8 md:p-[42px] lg:h-[450px]"
          >
            <div class="space-y-1">
              <h3 class="text-heading-5 text-secondary/80 font-normal">API integration</h3>
              <p class="max-w-[300px]">
                Connect Nexsas with your tools and automate voice workflows.
              </p>
            </div>

            <!-- logo circle  -->
            <div class="absolute top-[180px] left-1/2 -z-10 -translate-x-1/2">
              <div class="w-[1300px]">
                <Component src="src/components/pages/ai-voice-generator/integration-circle.htm" />
              </div>
            </div>
          </div>

          <div
            class="flex w-full max-w-[640px] flex-col items-center justify-center gap-y-4 sm:gap-y-2"
          >
            <!-- card two  -->
            <div
              data-ns-animate
              data-delay="0.2"
              class="w-full shrink-0 space-y-1 rounded-4xl bg-white p-8 lg:h-[221px] lg:p-[42px]"
            >
              <h3 class="text-heading-5 text-secondary/80 font-normal">
                Video editor + subtitle Generator
              </h3>
              <p class="max-w-[230px]">Add voice, visuals, and subtitles all in one place.</p>
            </div>

            <!-- card three  -->
            <div
              data-ns-animate
              data-delay="0.3"
              class="relative w-full shrink-0 space-y-1 overflow-hidden rounded-4xl bg-white p-8 lg:h-[221px] lg:p-[42px]"
            >
              <h3 class="text-heading-5 text-secondary/80 relative z-20 font-normal">
                Multilingual & multi-accent voices
              </h3>
              <p>100+ languages and regional accents.</p>

              <!-- bg img  -->
              <figure
                data-ns-animate
                data-delay="0.4"
                data-direction="right"
                data-offset="100"
                class="absolute top-[-120px] right-[-205px] h-[328px] w-[479px] rotate-[6deg] overflow-hidden"
              >
                <img
                  src="./images/ns-img-523.png"
                  alt="multilingual & multi-accent voices"
                  class="size-full"
                />
              </figure>
            </div>
          </div>
        </div>

        <!-- card (four - six) -->
        <div
          class="grid grid-cols-12 items-center justify-center gap-x-4 gap-y-4 lg:gap-x-2 lg:gap-y-0"
        >
          <!-- card four  -->
          <div
            data-ns-animate
            data-delay="0.4"
            class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3"
          >
            <div
              class="flex h-[450px] flex-col items-start justify-between rounded-4xl bg-white p-8 md:p-[42px] xl:w-[317px]"
            >
              <div class="space-y-1">
                <h3 class="text-heading-5 text-secondary/80 font-normal">Text to speech</h3>
                <p>Convert your script into ultra realistic speech.</p>
              </div>

              <div
                class="bg-background-12 flex h-[230px] w-full flex-col justify-between rounded-xl p-4 xl:max-w-[233px]"
              >
                <div class="typewriter-text-container overflow-hidden">
                  <p class="text-secondary/40 text-tagline-2 typewriter-text">
                    Describe the text you want to create, in any voice.
                  </p>
                </div>

                <div class="flex items-center justify-end text-right">
                  <Component
                    src="src/components/shared/button-v2.htm"
                    btn-text="Generate"
                    page-link="./ai-voice-generator-pricing.html"
                    btn-class="btn-sm-v2 btn-secondary-v2 group-hover/btn-v2:btn-primary-v2"
                    btn-text="Get started"
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- card five  -->
          <div
            data-ns-animate
            data-delay="0.5"
            class="relative col-span-12 flex h-[450px] flex-col items-center justify-between overflow-hidden rounded-4xl bg-white p-8 md:col-span-6 md:p-[42px] lg:col-span-4 xl:col-span-3 xl:w-[317px]"
          >
            <!-- bg gradient img  -->
            <figure
              data-ns-animate
              data-delay="0.6"
              data-direction="left"
              data-offset="100"
              class="absolute top-[-188px] left-[-190px] z-10 size-[400px] rotate-[-75deg]"
            >
              <img
                src="./images/ns-img-523.png"
                alt="voice cloning"
                class="size-full object-cover"
              />
            </figure>

            <div class="relative z-20 space-y-1">
              <h3 class="text-heading-5 text-secondary/80 font-normal">Voice cloning</h3>
              <p>Create a custom voice from just a few audio samples.</p>
            </div>

            <div
              class="flex h-auto w-full flex-col justify-between space-y-2.5 rounded-xl p-4 max-sm:items-center md:max-w-[233px] lg:h-[166px]"
            >
              <!-- item one  -->
              <div class="ml-[25px] flex items-center justify-end gap-x-2">
                <div
                  class="bg-background-12 flex items-center justify-center gap-x-[9px] rounded-[44px] p-1"
                >
                  <span class="text-secondary/40 text-[10px] leading-[150%] font-normal"
                    >06:18</span
                  >
                  <figure>
                    <img src="./images/ns-img-552.svg" alt="play icon" class="size-full" />
                  </figure>
                </div>
                <figure class="size-[34px] shrink-0 overflow-hidden rounded-full">
                  <img
                    src="./images/ns-avatar-39.png"
                    alt="voice cloning"
                    class="size-full object-cover"
                  />
                </figure>
              </div>

              <!-- item two  -->
              <div class="mr-[25px] flex flex-row-reverse items-center justify-start gap-x-2">
                <div
                  class="bg-background-12 flex items-center justify-center gap-x-[9px] rounded-[44px] p-1"
                >
                  <span class="text-secondary/40 text-[10px] leading-[150%] font-normal"
                    >06:18</span
                  >
                  <figure>
                    <img src="./images/ns-img-552.svg" alt="play icon" class="size-full" />
                  </figure>
                </div>
                <figure class="size-[34px] shrink-0 overflow-hidden rounded-full">
                  <img
                    src="./images/ns-img-553.svg"
                    alt="voice cloning"
                    class="size-full object-cover"
                  />
                </figure>
              </div>
              <!-- item three  -->
              <div class="ml-[25px] flex items-center justify-end gap-x-2">
                <div
                  class="bg-background-12 flex items-center justify-center gap-x-[9px] rounded-[44px] p-1"
                >
                  <span class="text-secondary/40 text-[10px] leading-[150%] font-normal"
                    >06:18</span
                  >
                  <figure>
                    <img src="./images/ns-img-552.svg" alt="play icon" class="size-full" />
                  </figure>
                </div>
                <figure class="size-[34px] shrink-0 overflow-hidden rounded-full">
                  <img
                    src="./images/ns-avatar-39.png"
                    alt="voice cloning"
                    class="size-full object-cover"
                  />
                </figure>
              </div>
              <!-- item four  -->
              <div class="mr-[25px] flex flex-row-reverse items-center justify-start gap-x-2">
                <div
                  class="bg-background-12 flex items-center justify-center gap-x-[9px] rounded-[44px] p-1"
                >
                  <span class="text-secondary/40 text-[10px] leading-[150%] font-normal"
                    >06:18</span
                  >
                  <figure>
                    <img src="./images/ns-img-552.svg" alt="play icon" class="size-full" />
                  </figure>
                </div>
                <figure class="size-[34px] shrink-0 overflow-hidden rounded-full">
                  <img
                    src="./images/ns-img-553.svg"
                    alt="voice cloning"
                    class="size-full object-cover"
                  />
                </figure>
              </div>
            </div>
          </div>

          <!-- card six  -->
          <div
            data-ns-animate
            data-delay="0.6"
            class="col-span-12 h-[450px] w-full space-y-[74px] rounded-4xl bg-white pt-[42px] lg:col-span-4 lg:max-w-[500px] xl:col-span-6 xl:max-w-[642px]"
          >
            <div class="space-y-1 px-[42px]">
              <h3 class="text-heading-5 text-secondary/80 font-normal">AI voice changer</h3>
              <p>Transform any voice into a professional-sounding tone.</p>
            </div>

            <!-- mic and wave   -->
            <div class="space-y-[54px] pb-[42px] text-center">
              <!-- mic  -->
              <span class="bg-secondary inline-block size-[94px] shrink-0 rounded-full px-7 py-6">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="39"
                  height="47"
                  viewBox="0 0 39 47"
                  fill="none"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M8.69089 10.3204C8.69089 4.62062 13.3115 2.60618e-09 19.0113 2.0051e-09C24.7111 1.40402e-09 29.3318 4.62062 29.3318 10.3204L29.3318 19.0113C29.3318 24.7111 24.7111 29.3318 19.0113 29.3318C13.3115 29.3318 8.69089 24.7111 8.69089 19.0113L8.69089 10.3204ZM15.0611 12.9877L16.7717 12.56C18.2422 12.1924 19.7805 12.1924 21.2509 12.56L22.9615 12.9877C23.8347 13.206 24.7194 12.6751 24.9377 11.802C25.1559 10.9289 24.6251 10.0442 23.752 9.82591L22.0414 9.39825C20.052 8.9009 17.9707 8.9009 15.9813 9.39825L14.2707 9.82591C13.3976 10.0442 12.8667 10.9289 13.085 11.802C13.3033 12.6751 14.188 13.206 15.0611 12.9877ZM16.2675 20.5572L16.7783 20.387C18.2278 19.9038 19.7949 19.9038 21.2443 20.387L21.7551 20.5572C22.6089 20.8418 23.5317 20.3804 23.8163 19.5266C24.1009 18.6728 23.6395 17.75 22.7857 17.4654L22.2749 17.2951C20.1565 16.589 17.8662 16.589 15.7477 17.2951L15.2369 17.4654C14.3831 17.75 13.9217 18.6728 14.2063 19.5266C14.4909 20.3804 15.4138 20.8418 16.2675 20.5572Z"
                    fill="white"
                  />
                  <path
                    d="M1.62954 17.3818C2.52951 17.3818 3.25908 18.1114 3.25908 19.0113C3.25908 27.711 10.3116 34.7636 19.0113 34.7636C27.7111 34.7636 34.7636 27.711 34.7636 19.0113C34.7636 18.1114 35.4931 17.3818 36.3931 17.3818C37.2931 17.3818 38.0227 18.1114 38.0227 19.0113C38.0227 28.9621 30.3777 37.1272 20.6409 37.9538L20.6409 42.8092C21.1111 42.871 21.5787 42.9598 22.0414 43.0755L23.752 43.5031C24.6251 43.7214 25.1559 44.6061 24.9377 45.4792C24.7194 46.3523 23.8347 46.8832 22.9615 46.6649L21.2509 46.2372C20.5157 46.0534 19.7635 45.9615 19.0113 45.9615C18.2591 45.9615 17.507 46.0534 16.7717 46.2372L15.0611 46.6649C14.188 46.8832 13.3033 46.3523 13.085 45.4792C12.8667 44.6061 13.3976 43.7214 14.2707 43.5031L15.9813 43.0755C16.4439 42.9598 16.9115 42.871 17.3818 42.8092L17.3818 37.9538C7.64494 37.1272 3.05423e-09 28.9621 2.00486e-09 19.0113C1.90996e-09 18.1114 0.729571 17.3818 1.62954 17.3818Z"
                    fill="white"
                  />
                </svg>
              </span>

              <!-- wave  -->

              <span class="flex size-full items-center justify-center">
                <svg
                  id="voice-wave-svg"
                  width="640"
                  viewBox="0 0 640 94"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  class="wave-svg h-[100px]"
                >
                  <path
                    class="wave-path wave-1"
                    d="M-28 74.2597C-12.4779 63.004 32.8609 46.6502 90.0399 71.2803C161.514 102.068 216.499 68.9961 232.274 55.5255C271.973 21.6263 306.094 4.73152 345.612 21.6263C410.147 49.2159 435.496 115.479 522.131 64.8279C528.628 61.0291 542.707 52.0163 568.697 52.4136C601.185 52.9101 610.931 40.0902 651 44.0659"
                    stroke="#ECC5A2"
                    stroke-width="2"
                  />
                  <path
                    class="wave-path wave-2"
                    d="M-13 65.9425C2.4673 55.5664 47.6462 40.4906 104.623 63.1959C175.845 91.5776 230.637 38.2018 246.356 25.7839C285.915 -5.46634 332.316 -4.42944 359.294 13.7599C409.425 47.5601 448.861 103.941 535.19 57.2478C541.665 53.7458 555.693 45.4373 581.592 45.8035C613.965 46.2613 629.073 62.2775 669 65.9425"
                    stroke="#ECC5A2"
                    stroke-width="2"
                  />
                  <path
                    class="wave-path wave-3"
                    d="M655 29.0337C639.524 37.5877 594.318 50.0161 537.308 31.298C466.045 7.90029 411.221 33.0339 395.492 43.2711C355.911 69.0336 309.482 84.0289 282.488 69.0336C232.328 41.169 192.869 -2.2918 106.49 36.2016C100.011 39.0886 85.9745 45.938 60.0606 45.6361C27.6683 45.2587 17.9506 55.0016 -22 51.9801"
                    stroke="#ECC5A2"
                    stroke-width="2"
                  />
                  <path
                    class="wave-path wave-4"
                    d="M640 37.712C624.533 46.5457 579.354 59.3806 522.377 40.0504C451.155 15.8876 396.363 61.3291 380.644 71.9011C341.085 98.506 294.684 97.6232 267.706 82.1377C217.575 53.3619 178.139 5.36226 91.8101 45.1143C85.3354 48.0957 71.3069 55.1691 45.4082 54.8573C13.0348 54.4676 -2.0728 40.8322 -42 37.712"
                    stroke="#ECC5A2"
                    stroke-width="2"
                  />
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
