<!-- =========================
CTA v1 section
===========================-->
<section class="{=$class} py-[50px] md:py-20 lg:py-28" aria-label="Use Case Overview">
  <div class="main-container">
    <div class="flex flex-col items-center justify-between lg:flex-row">
      <div
        class="w-full space-y-5 text-center max-[400px]:max-w-[300px] lg:max-w-[476px] lg:text-left xl:max-w-[650px]"
      >
        <span data-ns-animate data-delay="0.3" class="badge badge-ivory">{=$badge-text}</span>
        <div class="space-y-3">
          <h2
            data-ns-animate
            data-delay="0.4"
            class="text-secondary text-heading-5 sm:text-heading-4 lg:text-heading-2"
          >
            {=$cta-heading}
            <span class="text-ns-linen {=$span-class}">{=$span-text}</span>
          </h2>
          <p data-ns-animate data-delay="0.5">{=$description}</p>
        </div>
      </div>

      <div
        class="w-full space-y-6 pt-[40px] sm:w-[80%] md:ml-0 md:w-[60%] lg:basis-[486px] lg:pt-[67px] xl:ml-[80px]"
      >
        <form
          data-ns-animate
          data-delay="0.6"
          action="#"
          method="post"
          class="flex flex-col items-center justify-start gap-5 sm:flex-row lg:gap-3"
        >
          <input
            type="email"
            name="email"
            id="userEmail-cta-v1"
            placeholder="Enter your email"
            required
            class="shadow-1 placeholder:text-secondary/50 border-ns-linen/40 focus:border-ns-linen h-12 w-full rounded-full border px-[18px] py-3 font-normal placeholder:font-normal focus:outline-none max-[376px]:w-full md:w-[71%] lg:max-w-[340px]"
          />

          <div class="group inline-block w-full md:w-auto">
            <button
              type="submit"
              class="group-hover:bg-primary-500 shadow-1 bg-secondary border-stroke-7 text-tagline-1 {=$btn-class} mx-auto inline-flex w-full cursor-pointer items-center justify-center gap-1.5 rounded-full px-5 py-2.5 text-center font-normal text-nowrap text-white lowercase transition-all duration-500 ease-in-out group-hover:scale-101 md:mx-0 md:h-12 md:w-auto"
            >
              <span
                class="inline-block transition-transform duration-300 ease-in-out first-letter:uppercase"
                >{=$cta-btn-text}
              </span>

              <div class="relative size-6 overflow-hidden">
                <!-- one  -->
                <span
                  class="absolute inset-0 -translate-x-6 transition-transform duration-300 ease-in-out group-hover:translate-x-1"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path d="M11 5H13V7H11V5Z" fill="white" />
                    <path d="M5 5H7V7H5V5Z" fill="white" />
                    <path d="M14 8H16V10H14V8Z" fill="white" />
                    <path d="M8 8H10V10H8V8Z" fill="white" />
                    <path d="M17 11H19V13H17V11Z" fill="white" />
                    <path d="M11 11H13V13H11V11Z" fill="white" />
                    <path d="M14 14H16V16H14V14Z" fill="white" />
                    <path d="M8 14H10V16H8V14Z" fill="white" />
                    <path d="M11 17H13V19H11V17Z" fill="white" />
                    <path d="M5 17H7V19H5V17Z" fill="white" />
                  </svg>
                </span>

                <!-- two  -->
                <span
                  class="absolute -translate-x-2 transition-transform duration-300 ease-in-out group-hover:translate-x-6"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path d="M11 5H13V7H11V5Z" fill="white" />
                    <path d="M5 5H7V7H5V5Z" fill="white" />
                    <path d="M14 8H16V10H14V8Z" fill="white" />
                    <path d="M8 8H10V10H8V8Z" fill="white" />
                    <path d="M17 11H19V13H17V11Z" fill="white" />
                    <path d="M11 11H13V13H11V11Z" fill="white" />
                    <path d="M14 14H16V16H14V14Z" fill="white" />
                    <path d="M8 14H10V16H8V14Z" fill="white" />
                    <path d="M11 17H13V19H11V17Z" fill="white" />
                    <path d="M5 17H7V19H5V17Z" fill="white" />
                  </svg>
                </span>
              </div>
            </button>
          </div>
        </form>
        <ul
          class="flex flex-row items-center justify-center gap-x-4 gap-y-5 sm:gap-x-6 sm:gap-y-0 lg:justify-start"
        >
          <li data-ns-animate data-delay="0.7" class="flex items-center justify-center gap-2">
            <span class="bg-secondary flex size-[18px] items-center justify-center rounded-full">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
                aria-hidden="true"
                class="fill-white"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                />
              </svg>
            </span>
            <p class="text-tagline-3 sm:text-tagline-2">No credit card required</p>
          </li>
          <li data-ns-animate data-delay="0.8" class="flex items-center justify-center gap-2">
            <span class="bg-secondary flex size-[18px] items-center justify-center rounded-full">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="7"
                viewBox="0 0 10 7"
                fill="none"
                aria-hidden="true"
                class="fill-white"
              >
                <path
                  d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                />
              </svg>
            </span>
            <p class="text-tagline-3 sm:text-tagline-2">14-Day free trial</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
