<!-- =========================
Integration section
===========================-->

<section class="py-[80px] md:h-[750px] md:py-[120px] lg:py-[156px] xl:h-[956px]">
  <div
    data-ns-animate
    data-delay="0.1"
    class="relative mx-auto h-[620px] max-w-[1600px] overflow-hidden"
  >
    <div class="main-container lp:pb-4 relative z-30">
      <div class="mt-[180px] space-y-[76px] md:mt-[200px] lg:mt-[280px]">
        <div class="space-y-4 text-center">
          <span data-ns-animate data-delay="0.2" class="badge badge-ivory">Integration</span>
          <div class="space-y-3">
            <h2 data-ns-animate data-delay="0.3">
              Seamless tool <span class="text-ns-linen">integration</span>
            </h2>
            <p data-ns-animate data-delay="0.4" class="mx-auto max-w-[367px] text-center">
              Easily connect Nexsas Ai to Canva, Notion, Adobe, Google Slides, Webflow, and more.
            </p>
          </div>
        </div>

        <div data-ns-animate data-delay="0.5" class="text-center" data-offset="10">
          <Component
            src="src/components/shared/button-v2.htm"
            page-link="./ai-voice-generator-integration.html"
            btn-text="Explore integration"
            btn-class="btn-lg-v2 lg:btn-xl-v2 btn-secondary-v2 group-hover/btn-v2:btn-primary-v2"
          />
        </div>
      </div>
    </div>

    <!-- circle  -->
    <div class="absolute top-2 left-1/2 -z-10 -translate-x-1/2">
      <div class="w-[800px] md:w-[750px] lg:w-[990px] xl:w-[1300px] 2xl:w-[1400px]">
        <Component src="src/components/pages/ai-voice-generator/integration-circle.htm" />
      </div>
    </div>

    <!-- bottom gradient overlay  -->
    <div
      class="lp:-bottom-5 absolute bottom-0 z-0 h-[258px] w-full rotate-180"
      style="background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #fff 49.16%)"
    ></div>
  </div>
</section>
