<!-- =========================
Integration section
===========================-->
<section class="pb-[50px] sm:pb-[100px] md:pt-[100px] md:pb-[200px]">
  <div
    class="relative z-10 mx-5 overflow-hidden rounded-4xl bg-white py-[35px] sm:mx-10 md:py-[70px] lg:mx-auto lg:min-h-[740px] lg:max-w-[980px] xl:max-w-[1240px] 2xl:max-w-[1440px]"
  >
    <!-- gradient bg  -->
    <figure
      data-ns-animate
      data-delay="0.6"
      class="pointer-events-none absolute bottom-[-52%] left-1/2 -z-10 mx-auto size-[600px] -translate-x-1/2 rotate-[-146deg] select-none xl:size-[650px]"
    >
      <img src="./images/ns-img-523.png" alt="gradient" class="size-full" />
    </figure>

    <div class="space-y-8 text-center md:space-y-14">
      <div class="space-y-5">
        <span data-ns-animate data-delay="0.1" class="badge badge-ivory">Integration</span>
        <div class="space-y-3">
          <h2 data-ns-animate data-delay="0.2">Templates & tools</h2>
          <p data-ns-animate data-delay="0.3" class="mx-auto max-w-[490px] px-5 md:px-0">
            Make setup simple with ready-to-use templates for various projects, ensuring you can hit
            the ground running without any hassle. Whether you're launching a new website
          </p>
        </div>
      </div>
      <div data-ns-animate data-delay="0.4" class="integration-button text-center">
        <Component
          src="src/components/shared/button-v2.htm"
          page-link="./ai-voice-generator-integration.html"
          btn-class="btn-lg-v2 btn-secondary-v2 group-hover/btn-v2:btn-primary-v2"
          btn-text="See it in action"
        />
      </div>
    </div>
    <div
      class="bottom-0 left-5 hidden lg:absolute lg:top-0 lg:bottom-auto lg:left-10 lg:block lg:w-1/2 lg:max-w-[400px] xl:left-20 2xl:left-0 2xl:max-w-[582px]"
    >
      <div
        class="relative flex h-full flex-row flex-wrap gap-5 py-10 lg:flex-col lg:gap-[40px] lg:py-[70px] 2xl:ps-[70px]"
      >
        <div class="flex gap-5 lg:ms-[60px] lg:gap-8 xl:ms-[100px] xl:gap-[75px]">
          <figure
            data-ns-animate
            data-delay="0.2"
            class="bg-ns-ivory flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div class="size-[80px] rounded-full bg-white p-6 2xl:size-[100px]">
              <img src="./images/icons/google-meet.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
        </div>
        <div class="flex gap-5 lg:gap-8 lg:self-start xl:gap-[75px]">
          <figure
            data-ns-animate
            data-delay="0.3"
            class="bg-ns-ivory flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div class="size-[80px] rounded-full bg-white p-6 2xl:size-[100px]">
              <img src="./images/icons/gmail.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
          <figure
            data-ns-animate
            data-delay="0.4"
            class="bg-ns-ivory flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div class="size-[80px] rounded-full bg-white p-6 2xl:size-[100px]">
              <img src="./images/icons/marvel.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
        </div>
        <div class="flex gap-5 lg:ms-[60px] lg:gap-8 xl:ms-[100px] xl:gap-[75px]">
          <figure
            data-ns-animate
            data-delay="0.5"
            class="bg-ns-ivory flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div class="size-[80px] rounded-full bg-white p-6 2xl:size-[100px]">
              <img src="./images/icons/confluence.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
          <figure
            data-ns-animate
            data-delay="0.6"
            class="bg-ns-ivory flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div class="size-[80px] rounded-full bg-white p-6 2xl:size-[100px]">
              <img src="./images/icons/framer.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
        </div>
        <div class="flex gap-5 lg:ms-[100px] lg:gap-8 xl:ms-[185px] xl:gap-[75px]">
          <figure
            data-ns-animate
            data-delay="0.7"
            class="bg-ns-ivory flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div class="size-[80px] rounded-full bg-white p-6 2xl:size-[100px]">
              <img src="./images/icons/vl.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
          <figure
            data-ns-animate
            data-delay="0.8"
            class="bg-ns-ivory flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div class="size-[80px] rounded-full bg-white p-6 2xl:size-[100px]">
              <img src="./images/icons/edge.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
        </div>
      </div>
    </div>
    <div
      class="right-5 bottom-0 hidden lg:absolute lg:top-0 lg:right-10 lg:bottom-auto lg:block lg:w-1/2 lg:max-w-[400px] xl:right-28 2xl:right-0 2xl:max-w-[582px]"
    >
      <div
        class="relative flex h-full flex-row flex-wrap gap-5 py-10 lg:flex-col lg:gap-[40px] lg:py-[70px] 2xl:pe-[70px]"
      >
        <div class="flex lg:me-[60px] lg:self-end xl:me-[100px]">
          <figure
            data-ns-animate
            data-delay="0.2"
            class="bg-ns-ivory flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div class="size-[80px] rounded-full bg-white p-6 2xl:size-[100px]">
              <img src="./images/icons/confluence.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
        </div>
        <div class="flex gap-8 lg:gap-[50px] lg:self-end xl:gap-[75px]">
          <figure
            data-ns-animate
            data-delay="0.3"
            class="bg-ns-ivory flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div class="size-[80px] rounded-full bg-white p-6 2xl:size-[100px]">
              <img src="./images/icons/slack.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
          <figure
            data-ns-animate
            data-delay="0.4"
            class="bg-ns-ivory flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div class="size-[80px] rounded-full bg-white p-6 2xl:size-[100px]">
              <img src="./images/icons/snapchat.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
        </div>
        <div class="flex gap-8 lg:me-[60px] lg:gap-[50px] lg:self-end xl:me-[100px] xl:gap-[75px]">
          <figure
            data-ns-animate
            data-delay="0.5"
            class="bg-ns-ivory flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div class="size-[80px] rounded-full bg-white p-6 2xl:size-[100px]">
              <img src="./images/icons/google.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
          <figure
            data-ns-animate
            data-delay="0.6"
            class="bg-ns-ivory flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div class="size-[80px] rounded-full bg-white p-6 2xl:size-[100px]">
              <img src="./images/icons/ms_yammer.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
        </div>
        <div class="flex gap-8 self-end lg:me-[100px] lg:gap-[50px] xl:me-[185px] xl:gap-[75px]">
          <figure
            data-ns-animate
            data-delay="0.7"
            class="bg-ns-ivory flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div class="size-[80px] rounded-full bg-white p-6 2xl:size-[100px]">
              <img src="./images/icons/microsoft.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
          <figure
            data-ns-animate
            data-delay="0.8"
            class="bg-ns-ivory flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div class="size-[80px] rounded-full bg-white p-6 2xl:size-[100px]">
              <img src="./images/icons/figma.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
        </div>
      </div>
    </div>

    <!-- FOR MOBILE -->
    <div
      class="mt-8 flex flex-wrap items-center justify-center gap-4 px-6 sm:px-10 md:mt-20 lg:hidden"
    >
      <figure
        data-ns-animate
        data-delay="0.4"
        class="bg-ns-ivory flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/google-meet.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.4"
        class="bg-ns-ivory flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/gmail.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.4"
        class="bg-ns-ivory flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/marvel.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.4"
        class="bg-ns-ivory flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/confluence.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.5"
        class="bg-ns-ivory flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/framer.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.5"
        class="bg-ns-ivory flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/vl.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.5"
        class="bg-ns-ivory flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/edge.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>

      <figure
        data-ns-animate
        data-delay="0.5"
        class="bg-ns-ivory flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/confluence.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.6"
        class="bg-ns-ivory flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/slack.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.6"
        class="bg-ns-ivory flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/snapchat.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.6"
        class="bg-ns-ivory flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/google.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.6"
        class="bg-ns-ivory flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/ms_yammer.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.7"
        class="bg-ns-ivory flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/microsoft.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.7"
        class="bg-ns-ivory flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/figma.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
    </div>
  </div>
</section>
