<div>
  <div
    class="dropdown-menu-bridge pointer-events-none absolute top-full left-1/2 z-40 h-3 w-full min-w-[320px] -translate-x-1/2 bg-transparent opacity-0"
  ></div>

  <ul
    id="partnership-dropdown-menu"
    class="dropdown-menu dark:bg-background-6 shadow-14 border-stroke-1 dark:border-background-7 pointer-events-none absolute top-full left-1/2 z-50 mt-2 w-[320px] -translate-x-1/2 rounded-[20px] border bg-white p-2 opacity-0 transition-all duration-300"
  >
    <li>
      <a
        href="./ai-voice-generator-affiliates.html"
        class="group relative flex items-start gap-3 rounded-2xl p-3 transition-all duration-300"
      >
        <Component
          src="src/components/shared/hover-bg-transform.htm"
          class="group-hover:bg-ns-ivory/70"
        />
        <div
          class="dark:bg-background-6 shadow-14 border-stroke-1 dark:border-background-7 relative z-10 flex size-11 items-center justify-center rounded-[10px] border bg-white p-3"
        >
          <Component src="src/components/shared/menu-icon/affiliate-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 text-secondary dark:text-accent font-normal">Affiliate</p>
          <p class="text-tagline-2 text-secondary/60 dark:text-accent/60 font-normal">
            Partner program
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./ai-voice-generator-referral-program.html"
        class="group relative flex items-start gap-3 rounded-2xl p-3 transition-all duration-300"
      >
        <Component
          src="src/components/shared/hover-bg-transform.htm"
          class="group-hover:bg-ns-ivory/70"
        />
        <div
          class="dark:bg-background-6 shadow-14 border-stroke-1 dark:border-background-7 relative z-10 flex size-11 items-center justify-center rounded-[10px] border bg-white p-3"
        >
          <Component src="src/components/shared/menu-icon/referral-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 text-secondary dark:text-accent font-normal">Referral</p>
          <p class="text-tagline-2 text-secondary/60 dark:text-accent/60 font-normal">
            Invite and get rewards
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./ai-voice-generator-login.html"
        class="group relative flex items-start gap-3 rounded-2xl p-3 transition-all duration-300"
      >
        <Component
          src="src/components/shared/hover-bg-transform.htm"
          class="group-hover:bg-ns-ivory/70"
        />
        <div
          class="dark:bg-background-6 shadow-14 border-stroke-1 dark:border-background-7 relative z-10 flex size-11 items-center justify-center rounded-[10px] border bg-white p-3"
        >
          <Component src="src/components/shared/menu-icon/login-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 text-secondary dark:text-accent font-normal">Login</p>
          <p class="text-tagline-2 text-secondary/60 dark:text-accent/60 font-normal">
            Enter your account
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./ai-voice-generator-signup.html"
        class="group relative flex items-start gap-3 rounded-2xl p-3 transition-all duration-300"
      >
        <Component
          src="src/components/shared/hover-bg-transform.htm"
          class="group-hover:bg-ns-ivory/70"
        />
        <div
          class="dark:bg-background-6 shadow-14 border-stroke-1 dark:border-background-7 relative z-10 flex size-11 items-center justify-center rounded-[10px] border bg-white p-3"
        >
          <Component src="src/components/shared/menu-icon/signin-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 text-secondary dark:text-accent font-normal">Create Account</p>
          <p class="text-tagline-2 text-secondary/60 dark:text-accent/60 font-normal">
            Join community
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./ai-voice-generator-download.html"
        class="group relative flex items-start gap-3 rounded-2xl p-3 transition-all duration-300"
      >
        <Component
          src="src/components/shared/hover-bg-transform.htm"
          class="group-hover:bg-ns-ivory/70"
        />
        <div
          class="dark:bg-background-6 shadow-14 border-stroke-1 dark:border-background-7 relative z-10 flex size-11 items-center justify-center rounded-[10px] border bg-white p-3"
        >
          <Component src="src/components/shared/menu-icon/dawnload-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 text-secondary dark:text-accent font-normal">Download</p>
          <p class="text-tagline-2 text-secondary/60 dark:text-accent/60 font-normal">
            Download now
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./ai-voice-generator-integration.html"
        class="group relative flex items-start gap-3 rounded-2xl p-3 transition-all duration-300"
      >
        <Component
          src="src/components/shared/hover-bg-transform.htm"
          class="group-hover:bg-ns-ivory/70"
        />
        <div
          class="dark:bg-background-6 shadow-14 border-stroke-1 dark:border-background-7 relative z-10 flex size-11 items-center justify-center rounded-[10px] border bg-white p-3"
        >
          <Component src="src/components/shared/menu-icon/integration-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 text-secondary dark:text-accent font-normal">Integration</p>
          <p class="text-tagline-2 text-secondary/60 dark:text-accent/60 font-normal">
            Connect integrations
          </p>
        </div>
      </a>
    </li>
  </ul>
</div>
