<div>
  <div
    class="dropdown-menu-bridge pointer-events-none absolute top-full left-1/2 z-40 h-3 w-full min-w-[320px] -translate-x-1/2 bg-transparent opacity-0"
  ></div>

  <ul
    id="people-dropdown-menu"
    class="dropdown-menu dark:bg-background-6 shadow-14 border-stroke-1 dark:border-background-7 pointer-events-none absolute top-full left-1/2 z-50 mt-2 w-[320px] -translate-x-1/2 rounded-3xl border bg-white p-2 opacity-0 transition-all duration-300"
  >
    <li>
      <a
        href="./ai-voice-generator-process.html"
        class="group relative flex items-start gap-3 rounded-2xl p-3 transition-all duration-300"
      >
        <Component
          src="src/components/shared/hover-bg-transform.htm"
          class="group-hover:bg-ns-ivory/70"
        />
        <div
          class="dark:bg-background-6 shadow-14 border-stroke-1 dark:border-background-7 relative z-10 flex size-11 items-center justify-center rounded-[10px] border bg-white p-3"
        >
          <Component src="src/components/shared/menu-icon/process-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 text-secondary dark:text-accent font-normal">Process</p>
          <p class="text-tagline-3 text-secondary/60 dark:text-accent/60 font-normal">
            Learn our methods
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./ai-voice-generator-team.html"
        class="group relative flex items-start gap-3 rounded-2xl p-3 transition-all duration-300"
      >
        <Component
          src="src/components/shared/hover-bg-transform.htm"
          class="group-hover:bg-ns-ivory/70"
        />
        <div
          class="dark:bg-background-6 shadow-14 border-stroke-1 dark:border-background-7 relative z-10 flex size-11 items-center justify-center rounded-[10px] border bg-white p-3"
        >
          <Component src="src/components/shared/menu-icon/team-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 text-secondary dark:text-accent font-normal">Team</p>
          <p class="text-tagline-3 text-secondary/60 dark:text-accent/60 font-normal">
            Get to know our experts
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./ai-voice-generator-career.html"
        class="group relative flex items-start gap-3 rounded-2xl p-3 transition-all duration-300"
      >
        <Component
          src="src/components/shared/hover-bg-transform.htm"
          class="group-hover:bg-ns-ivory/70"
        />
        <div
          class="dark:bg-background-6 shadow-14 border-stroke-1 dark:border-background-7 relative z-10 flex size-11 items-center justify-center rounded-[10px] border bg-white p-3"
        >
          <Component src="src/components/shared/menu-icon/career-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 text-secondary dark:text-accent font-normal">Career</p>
          <p class="text-tagline-3 text-secondary/60 dark:text-accent/60 font-normal">
            Find your next role
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./ai-voice-generator-testimonial.html"
        class="group relative flex items-start gap-3 rounded-2xl p-3 transition-all duration-300"
      >
        <Component
          src="src/components/shared/hover-bg-transform.htm"
          class="group-hover:bg-ns-ivory/70"
        />
        <div
          class="dark:bg-background-6 shadow-14 border-stroke-1 dark:border-background-7 relative z-10 flex size-11 items-center justify-center rounded-[10px] border bg-white p-3"
        >
          <Component src="src/components/shared/menu-icon/testimonial-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 text-secondary dark:text-accent font-normal">Testimonial</p>
          <p class="text-tagline-3 text-secondary/60 dark:text-accent/60 font-normal">
            Explore testimonials
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./ai-voice-generator-customer.html"
        class="group relative flex items-start gap-3 rounded-2xl p-3 transition-all duration-300"
      >
        <Component
          src="src/components/shared/hover-bg-transform.htm"
          class="group-hover:bg-ns-ivory/70"
        />
        <div
          class="dark:bg-background-6 shadow-14 border-stroke-1 dark:border-background-7 relative z-10 flex size-11 items-center justify-center rounded-[10px] border bg-white p-3"
        >
          <Component src="src/components/shared/menu-icon/customer-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 text-secondary dark:text-accent font-normal">Customer</p>
          <p class="text-tagline-3 text-secondary/60 dark:text-accent/60 font-normal">
            Plan, track, and deliver
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./ai-voice-generator-contact.html"
        class="group relative flex items-start gap-3 rounded-2xl p-3 transition-all duration-300"
      >
        <Component
          src="src/components/shared/hover-bg-transform.htm"
          class="group-hover:bg-ns-ivory/70"
        />
        <div
          class="dark:bg-background-6 shadow-14 border-stroke-1 dark:border-background-7 relative z-10 flex size-11 items-center justify-center rounded-[10px] border bg-white p-3"
        >
          <Component src="src/components/shared/menu-icon/contact-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 text-secondary dark:text-accent font-normal">Contact</p>
          <p class="text-tagline-3 text-secondary/60 dark:text-accent/60 font-normal">
            Contact our support
          </p>
        </div>
      </a>
    </li>
  </ul>
</div>
