<div>
  <div
    class="dropdown-menu-bridge pointer-events-none fixed top-full left-1/2 z-40 h-3 w-full -translate-x-1/2 bg-transparent opacity-0 lg:w-[1290px]"
  ></div>
  <div
    id="resources-mega-menu"
    class="dropdown-menu border-stroke-1 pointer-events-none fixed top-full left-1/2 z-50 mt-2 w-full -translate-x-1/2 rounded-[20px] border bg-white p-6 opacity-0 transition-all duration-300 lg:w-[1290px]"
  >
    <div class="grid grid-cols-12 items-start gap-y-6 md:gap-x-12">
      <div class="col-span-4 space-y-3">
        <p class="text-tagline-2 text-secondary/60 px-3 font-medium">Help & Documentation</p>
        <ul>
          <li>
            <a
              href="./ai-voice-generator-documentation.html"
              class="group relative flex items-start gap-2 p-3"
            >
              <Component
                src="src/components/shared/hover-bg-transform.htm"
                class="group-hover:bg-ns-ivory/70"
              />
              <div
                class="border-stroke-1 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
              >
                <Component src="src/components/shared/menu-icon/docs-icon.htm" />
              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 text-secondary font-normal">Documentation</p>
                <p class="text-tagline-2 text-secondary/60 font-normal">
                  Detailed documentation of the product.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a
              href="./ai-voice-generator-tutorial.html"
              class="group relative flex items-start gap-2 p-3"
            >
              <Component
                src="src/components/shared/hover-bg-transform.htm"
                class="group-hover:bg-ns-ivory/70"
              />
              <div
                class="border-stroke-1 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
              >
                <Component src="src/components/shared/menu-icon/tutorial-icon.htm" />
              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 text-secondary font-normal">Tutorials</p>
                <p class="text-tagline-2 text-secondary/60 font-normal">
                  Step-by-step guides to help you get started.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a
              href="./ai-voice-generator-faq.html"
              class="group relative flex items-start gap-2 p-3"
            >
              <Component
                src="src/components/shared/hover-bg-transform.htm"
                class="group-hover:bg-ns-ivory/70"
              />
              <div
                class="border-stroke-1 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
              >
                <Component src="src/components/shared/menu-icon/faq-icon.htm" />
              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 text-secondary font-normal">FAQ</p>
                <p class="text-tagline-2 text-secondary/60 font-normal">
                  Frequently asked questions and answers.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a
              href="./ai-voice-generator-case-study.html"
              class="group relative flex items-start gap-2 p-3"
            >
              <Component
                src="src/components/shared/hover-bg-transform.htm"
                class="group-hover:bg-ns-ivory/70"
              />
              <div
                class="border-stroke-1 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
              >
                <Component src="src/components/shared/menu-icon/case-study-icon.htm" />
              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 text-secondary font-normal">Case Studies</p>
                <p class="text-tagline-2 text-secondary/60 font-normal">
                  Real-world examples of how the product is used.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a
              href="./ai-voice-generator-whitepaper.html"
              class="group relative flex items-start gap-2 p-3"
            >
              <Component
                src="src/components/shared/hover-bg-transform.htm"
                class="group-hover:bg-ns-ivory/70"
              />
              <div
                class="border-stroke-1 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
              >
                <Component src="src/components/shared/menu-icon/whitepaper-icon.htm" />
              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 text-secondary font-normal">Whitepapers</p>
                <p class="text-tagline-2 text-secondary/60 font-normal">
                  Detailed whitepapers on the product.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a
              href="./ai-voice-generator-support.html"
              class="group relative flex items-start gap-2 p-3"
            >
              <Component
                src="src/components/shared/hover-bg-transform.htm"
                class="group-hover:bg-ns-ivory/70"
              />
              <div
                class="border-stroke-1 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
              >
                <Component src="src/components/shared/menu-icon/support-icon.htm" />
              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 text-secondary font-normal">Support</p>
                <p class="text-tagline-2 text-secondary/60 font-normal">
                  Get help and support from our team.
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-span-4 space-y-3">
        <p class="text-tagline-2 text-secondary/60 px-3 font-medium">Knowledge & Research</p>
        <ul>
          <li>
            <a
              href="./ai-voice-generator-use-case.html"
              class="group relative flex items-start gap-2 p-3"
            >
              <Component
                src="src/components/shared/hover-bg-transform.htm"
                class="group-hover:bg-ns-ivory/70"
              />
              <div
                class="border-stroke-1 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
              >
                <Component src="src/components/shared/menu-icon/use-case-icon.htm" />
              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 text-secondary font-normal">Use Cases</p>
                <p class="text-tagline-2 text-secondary/60 font-normal">
                  Explore real-world scenarios where our investment management delivers results.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a
              href="./ai-voice-generator-success-stories.html"
              class="group relative flex items-start gap-2 p-3"
            >
              <Component
                src="src/components/shared/hover-bg-transform.htm"
                class="group-hover:bg-ns-ivory/70"
              />
              <div
                class="border-stroke-1 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
              >
                <Component src="src/components/shared/menu-icon/success-icon.htm" />
              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 text-secondary font-normal">Success Stories</p>
                <p class="text-tagline-2 text-secondary/60 font-normal">
                  Discover measurable outcomes achieved by clients.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a
              href="./ai-voice-generator-analytics.html"
              class="group relative flex items-start gap-2 p-3"
            >
              <Component
                src="src/components/shared/hover-bg-transform.htm"
                class="group-hover:bg-ns-ivory/70"
              />
              <div
                class="border-stroke-1 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
              >
                <Component src="src/components/shared/menu-icon/analytics-icon.htm" />
              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 text-secondary font-normal">Analytics</p>
                <p class="text-tagline-2 text-secondary/60 font-normal">
                  Dive into performance metrics and data insights.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a
              href="./ai-voice-generator-changelog.html"
              class="group relative flex items-start gap-2 p-3"
            >
              <Component
                src="src/components/shared/hover-bg-transform.htm"
                class="group-hover:bg-ns-ivory/70"
              />
              <div
                class="border-stroke-1 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
              >
                <Component src="src/components/shared/menu-icon/changelog-icon.htm" />
              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 text-secondary font-normal">Changelog</p>
                <p class="text-tagline-2 text-secondary/60 font-normal">
                  Stay updated with the latest changes and improvements.
                </p>
              </div>
            </a>
          </li>
          <li>
            <a
              href="./ai-voice-generator-glossary.html"
              class="group relative flex items-start gap-2 p-3"
            >
              <Component
                src="src/components/shared/hover-bg-transform.htm"
                class="group-hover:bg-ns-ivory/70"
              />
              <div
                class="border-stroke-1 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
              >
                <Component src="src/components/shared/menu-icon/glossary-icon.htm" />
              </div>
              <div class="relative z-10">
                <p class="text-tagline-1 text-secondary font-normal">Glossary</p>
                <p class="text-tagline-2 text-secondary/60 font-normal">Terms and definitions.</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-span-4">
        <div class="bg-ns-ivory/40 rounded-[10px] px-3 pb-3">
          <p class="text-tagline-2 text-secondary/60 p-3 font-medium">Trust & Compliance</p>
          <ul>
            <li>
              <a
                href="./ai-voice-generator-security.html"
                class="group relative flex items-center gap-2 p-3"
              >
                <Component
                  src="src/components/shared/hover-bg-transform.htm"
                  class="group-hover:bg-ns-ivory"
                />
                <div
                  class="border-stroke-1 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
                >
                  <Component src="src/components/shared/menu-icon/security-icon.htm" />
                </div>
                <div class="relative z-10">
                  <p class="text-tagline-1 text-secondary font-normal">Security</p>
                </div>
              </a>
            </li>
            <li>
              <a
                href="./ai-voice-generator-gdpr.html"
                class="group relative flex items-center gap-2 p-3"
              >
                <Component
                  src="src/components/shared/hover-bg-transform.htm"
                  class="group-hover:bg-ns-ivory"
                />
                <div
                  class="border-stroke-1 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
                >
                  <Component src="src/components/shared/menu-icon/gdpr-icon.htm" />
                </div>
                <div class="relative z-10">
                  <p class="text-tagline-1 text-secondary font-normal">GDPR Compliance</p>
                </div>
              </a>
            </li>
            <li>
              <a
                href="./ai-voice-generator-privacy-policy.html"
                class="group relative flex items-center gap-2 p-3"
              >
                <Component
                  src="src/components/shared/hover-bg-transform.htm"
                  class="group-hover:bg-ns-ivory"
                />
                <div
                  class="border-stroke-1 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
                >
                  <Component src="src/components/shared/menu-icon/privacy-icon.htm" />
                </div>
                <div class="relative z-10">
                  <p class="text-tagline-1 text-secondary font-normal">Privacy Policy</p>
                </div>
              </a>
            </li>
            <li>
              <a
                href="./ai-voice-generator-terms-conditions.html"
                class="group relative flex items-center gap-2 p-3"
              >
                <Component
                  src="src/components/shared/hover-bg-transform.htm"
                  class="group-hover:bg-ns-ivory"
                />
                <div
                  class="border-stroke-1 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
                >
                  <Component src="src/components/shared/menu-icon/refund-icon.htm" />
                </div>
                <div class="relative z-10">
                  <p class="text-tagline-1 text-secondary font-normal">Terms & Conditions</p>
                </div>
              </a>
            </li>
            <li>
              <a
                href="./ai-voice-generator-press.html"
                class="group relative flex items-center gap-2 p-3"
              >
                <Component
                  src="src/components/shared/hover-bg-transform.htm"
                  class="group-hover:bg-ns-ivory"
                />
                <div
                  class="border-stroke-1 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
                >
                  <Component src="src/components/shared/menu-icon/press-icon.htm" />
                </div>
                <div class="relative z-10">
                  <p class="text-tagline-1 text-secondary font-normal">Press Coverage</p>
                </div>
              </a>
            </li>
            <li>
              <a
                href="./ai-voice-generator-affiliate-policy.html"
                class="group relative flex items-center gap-2 p-3"
              >
                <Component
                  src="src/components/shared/hover-bg-transform.htm"
                  class="group-hover:bg-ns-ivory"
                />
                <div
                  class="border-stroke-1 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
                >
                  <Component src="src/components/shared/menu-icon/affiliate-policy.htm" />
                </div>
                <div class="relative z-10">
                  <p class="text-tagline-1 text-secondary font-normal">Affiliate Policy</p>
                </div>
              </a>
            </li>
            <li>
              <a
                href="./ai-voice-generator-legal.html"
                class="group relative flex items-center gap-2 p-3"
              >
                <Component
                  src="src/components/shared/hover-bg-transform.htm"
                  class="group-hover:bg-ns-ivory"
                />
                <div
                  class="border-stroke-1 relative z-10 mt-1 flex size-7 shrink-0 items-center justify-center rounded-lg border p-1"
                >
                  <Component src="src/components/shared/menu-icon/legal-icon.htm" />
                </div>
                <div class="relative z-10">
                  <p class="text-tagline-1 text-secondary font-normal">Legal</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
