<div
  class="{=$class} w-[343px] shrink-0 space-y-6"
  role="listitem"
  itemscope
  itemtype="https://schema.org/ImageObject"
  aria-label="{=$title} use case"
>
  <h3 class="text-heading-5 font-normal" itemprop="name">{=$title}</h3>
  <figure class="max-w-[343px] overflow-hidden rounded-4xl max-sm:h-[300px]">
    <img
      src="{=$img-link}"
      alt="Visual representation of {=$title} use case for AI voice generator"
      class="size-full object-cover"
      itemprop="contentUrl"
      title="{=$title} use case image"
    />
  </figure>
</div>
