<!-- team section -->

<section
  class="space-y-[76px] overflow-hidden py-[80px] md:py-[120px] lg:py-[154px]"
  aria-labelledby="team-heading"
  itemscope
  itemtype="https://schema.org/ItemList"
>
  <div class="main-container">
    <!-- content  -->
    <div class="space-y-3 text-center lg:text-left">
      <h2
        data-ns-animate
        data-delay="0.1"
        id="team-heading"
        class="mx-auto max-w-[500px] font-normal lg:mx-0"
        itemprop="name"
      >
        Tailored for every <span class="text-ns-linen">creator </span>and
        <span class="text-ns-linen">team</span>
      </h2>
      <p
        data-ns-animate
        data-delay="0.2"
        class="text-tagline-1 mx-auto max-w-[538px] font-normal lg:mx-0"
        itemprop="description"
      >
        Whether you're building a course, podcast, ad, or enterprise solution Nexsas adapts to your
        needs.
      </p>
    </div>
  </div>

  <!-- marquee  -->

  <div
    data-ns-animate
    data-delay="0.3"
    class="logos-marquee-container"
    role="img"
    aria-label="Voice styles for creators and teams"
    itemscope
    itemtype="https://schema.org/ItemList"
  >
    <div class="flex items-center justify-center gap-x-6">
      <!-- item one  -->
      <Component
        src="src/components/pages/ai-voice-generator/single-team.htm"
        title="E-learning"
        img-link="./images/ns-img-551.png"
        class="ml-6"
      />
      <!-- item two  -->
      <Component
        src="src/components/pages/ai-voice-generator/single-team.htm"
        title="Podcasts"
        img-link="./images/ns-img-546.png"
      />
      <!-- item three  -->
      <Component
        src="src/components/pages/ai-voice-generator/single-team.htm"
        title="Ads & marketing"
        img-link="./images/ns-img-547.png"
      />
      <!-- item four  -->
      <Component
        src="src/components/pages/ai-voice-generator/single-team.htm"
        title="Enterprise training"
        img-link="./images/ns-img-548.png"
      />
      <!-- item five  -->
      <Component
        src="src/components/pages/ai-voice-generator/single-team.htm"
        title="Storytelling"
        img-link="./images/ns-img-549.png"
      />
      <!-- item three  -->
      <Component
        src="src/components/pages/ai-voice-generator/single-team.htm"
        title="Gaming & animation"
        img-link="./images/ns-img-550.png"
      />
    </div>
  </div>
</section>
