<!-- voice samples section -->
<section
  class="pt-[85px] pb-[100px] lg:pt-[112px] lg:pb-[200px]"
  aria-labelledby="voice-samples-heading"
  itemscope
  itemtype="https://schema.org/ItemList"
>
  <div class="main-container">
    <div class="space-y-20">
      <!-- content  -->
      <div class="space-y-5 text-center lg:text-left">
        <span
          data-ns-animate
          data-delay="0.1"
          class="badge badge-ivory"
          aria-label="Voice Samples section badge"
          itemprop="name"
          >Voice Samples</span
        >
        <div class="space-y-3">
          <h2
            id="voice-samples-heading"
            data-ns-animate
            data-delay="0.2"
            class="font-normal"
            itemprop="name"
          >
            Hear the <span class="text-ns-linen">difference</span>
          </h2>
          <p
            data-ns-animate
            data-delay="0.3"
            class="text-secondary mx-auto max-w-[450px] lg:mx-0"
            itemprop="description"
          >
            Browse our voice library and listen to realistic, expressive voices in different tones
            and accents.
          </p>
        </div>
      </div>

      <!-- samples collections  -->
      <div class="grid grid-cols-1 items-center justify-center gap-5 md:grid-cols-2 lg:grid-cols-3">
        <!-- item one  -->
        <Component
          src="src/components/pages/ai-voice-generator/voice-sample-item.htm"
          img-link="./images/ns-avatar-30.png"
          name="Marie Curie"
          description="Japanese Female – Calm & Intelligent"
          delay="0.1"
        />
        <!-- item two  -->
        <Component
          src="src/components/pages/ai-voice-generator/voice-sample-item.htm"
          img-link="./images/ns-avatar-18.png"
          name="Rosalind Franklin"
          description="Japanese Female – Calm & Intelligent"
          delay="0.2"
        />
        <!-- item three  -->
        <Component
          src="src/components/pages/ai-voice-generator/voice-sample-item.htm"
          img-link="./images/ns-avatar-37.png"
          name="Leonardo da Vinci"
          description="Japanese Female – Calm & Intelligent"
          delay="0.3"
        />
        <!-- item four  -->
        <Component
          src="src/components/pages/ai-voice-generator/voice-sample-item.htm"
          img-link="./images/ns-avatar-36.png"
          name="Albert Einstein"
          description="Japanese Female – Calm & Intelligent"
          delay="0.4"
        />
        <!-- item five  -->
        <Component
          src="src/components/pages/ai-voice-generator/voice-sample-item.htm"
          img-link="./images/ns-avatar-19.png"
          name="Isaac Newton"
          description="Japanese Female – Calm & Intelligent"
          delay="0.5"
        />
        <!-- item six  -->
        <Component
          src="src/components/pages/ai-voice-generator/voice-sample-item.htm"
          img-link="./images/ns-avatar-34.png"
          name="Thomas Edison"
          description="Japanese Female – Calm & Intelligent"
          delay="0.6"
        />
        <!-- item seven  -->
        <Component
          src="src/components/pages/ai-voice-generator/voice-sample-item.htm"
          img-link="./images/ns-avatar-33.png"
          name="Ada Lovelace"
          description="Japanese Female – Calm & Intelligent"
          delay="0.7"
        />
        <!-- item eight  -->
        <Component
          src="src/components/pages/ai-voice-generator/voice-sample-item.htm"
          img-link="./images/ns-avatar-31.png"
          name="Jane Goodall"
          description="Japanese Female – Calm & Intelligent"
          delay="0.8"
        />
        <!-- item nine  -->
        <Component
          src="src/components/pages/ai-voice-generator/voice-sample-item.htm"
          img-link="./images/ns-avatar-29.png"
          name="Charles Darwin"
          description="Japanese Female – Calm & Intelligent"
          delay="0.9"
        />
        <!-- item ten  -->
        <Component
          src="src/components/pages/ai-voice-generator/voice-sample-item.htm"
          img-link="./images/ns-avatar-29.png"
          name="Nikola Tesla"
          description="Japanese Female – Calm & Intelligent"
          delay="1.0"
        />
        <!-- item eleven  -->
        <Component
          src="src/components/pages/ai-voice-generator/voice-sample-item.htm"
          img-link="./images/ns-avatar-38.png"
          name="Stephen Hawking"
          description="Japanese Female – Calm & Intelligent"
          delay="1.1"
        />
        <!-- item twelve  -->
        <Component
          src="src/components/pages/ai-voice-generator/voice-sample-item.htm"
          img-link="./images/ns-avatar-28.png"
          name="Malala Yousafzai"
          description="Japanese Female – Calm & Intelligent"
          delay="1.2"
        />
      </div>
    </div>
  </div>
</section>
