<!-- =========================
Steps section
===========================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] -mt-[160px] sm:-mt-0"
  aria-label="Application Steps"
>
  <div class="main-container">
    <div class="space-y-14">
      <div
        data-ns-animate
        data-delay="0.1"
        class="flex items-start xl:items-center flex-col md:flex-row gap-8"
      >
        <!-- step one  -->
        <div class="space-y-3 max-w-[388px] md:w-full" role="region" aria-label="Step 1">
          <!-- progress bar  -->
          <div
            class="w-full bg-stroke-2 dark:bg-stroke-6 h-1 rounded-full relative overflow-hidden"
          >
            <div class="progress-line w-[0%] bg-ns-green rounded-full h-full absolute left-0"></div>
          </div>
          <!-- number -->
          <p class="text-tagline-2 text-primary-500">01</p>

          <!-- text  -->
          <div class="space-y-2">
            <h2 class="text-heading-5">Precision Strategy.</h2>
            <p class="w-full">
              Deep market analysis that transforms ambiguity into actionable business intelligence.
            </p>
          </div>
        </div>

        <!-- step two  -->
        <div class="space-y-3 max-w-[388px] md:w-full" role="region" aria-label="Step 2">
          <!-- progress bar  -->
          <div
            class="w-full bg-stroke-2 dark:bg-stroke-6 h-1 rounded-full relative overflow-hidden"
          >
            <div class="progress-line w-[0%] bg-ns-green rounded-full h-full absolute left-0"></div>
          </div>
          <!-- number -->
          <p class="text-tagline-2 text-primary-500">02</p>

          <!-- text  -->
          <div class="space-y-2">
            <h2 class="text-heading-5">Rapid Execution.</h2>
            <p>Turning strategic plans into functioning products without the bottleneck.</p>
          </div>
        </div>

        <!-- step three  -->
        <div class="space-y-3 max-w-[388px] md:w-full" role="region" aria-label="Step 3">
          <!-- progress bar  -->
          <div
            class="w-full bg-stroke-2 dark:bg-stroke-6 h-1 rounded-full relative overflow-hidden"
          >
            <div class="progress-line w-[0%] bg-ns-green rounded-full h-full absolute left-0"></div>
          </div>
          <!-- number -->
          <p class="text-tagline-2 text-primary-500">03</p>

          <!-- text  -->
          <div class="space-y-2">
            <h2 class="text-heading-5">Measurable Impact.</h2>
            <p>Data-backed results that scale success and validate your investment.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
