<!-- =========================
Reviews section
===========================-->
<section
  class="relativept-14 pb-14 md:pt-16 md:pb-16 lg:pt-[88px] lg:pb-[88px] xl:pt-[100px] xl:pb-[100px]"
>
  <div class="main-container">
    <div class="mb-[70px] flex flex-col items-center text-center">
      <span class="badge badge-ns-green-light mb-5"> Customer Success </span>
      <h2 class="mx-auto mb-4 max-w-[750px]">
        Real <span class="text-primary-500"> apps </span>. Real results.
      </h2>
      <p class="max-w-[490px]">
        "Nexsas delivered our entire platform ahead of schedule—flawless execution and real
        partnership."
      </p>
    </div>

    <div
      class="mb-14 grid grid-cols-1 gap-[42px] max-sm:gap-x-0 max-sm:gap-y-[42px] md:grid-cols-3"
    >
      <div
        class="bg-background-3 relative z-0 flex flex-col gap-y-8 overflow-hidden rounded-[20px] p-8"
      >
        <figure
          class="relative inline-block size-14 overflow-hidden rounded-full bg-linear-[135deg,#ffffff_0%,#a585ff_100%] ring-4 ring-white"
        >
          <img src="./images/ns-avatar-7.png" alt="avatar" class="max-w-full" />
          <img
            src="./images/ns-author-avatar-bg.png"
            alt="avatar"
            class="absolute top-0 left-0 -z-10"
          />
        </figure>
        <p class="text-secondary/60">
          “I built a fully functional app for my business in a weekend—without a developer.”
        </p>

        <div>
          <p class="text-secondary text-lg leading-[1.5] font-medium">John Smith</p>
          <p class="text-secondary/60 text-tagline-2">Lorem Ipsum</p>
        </div>
      </div>
      <div
        class="bg-secondary relative z-0 flex flex-col gap-y-8 overflow-hidden rounded-[20px] p-8"
      >
        <div
          class="pointer-events-none absolute -top-[180px] -left-[180px] -z-10 h-full w-full select-none max-md:h-[300px] max-md:w-[350px] md:-top-[100px] md:-left-[100px] lg:-top-[150px] lg:-left-[150px] xl:-top-[210px] xl:-left-[210px]"
        >
          <img
            src="./images/ns-img-501.png"
            alt="Decorative gradient background overlay"
            class="-rotate-[90deg]"
          />
        </div>
        <figure
          class="relative inline-block size-14 overflow-hidden rounded-full bg-linear-[135deg,#ffffff_0%,#a585ff_100%] ring-4 ring-white"
        >
          <img src="./images/ns-avatar-7.png" alt="avatar" class="max-w-full" />
          <img
            src="./images/ns-author-avatar-bg.png"
            alt="avatar"
            class="absolute top-0 left-0 -z-10"
          />
        </figure>
        <p class="text-accent/60">
          “App Builder saved us thousands in dev costs. It’s like magic.”
        </p>
        <div>
          <p class="text-accent text-lg leading-[1.5] font-medium">John Smith</p>
          <p class="text-accent/60 text-tagline-2">Lorem Ipsum</p>
        </div>
      </div>
      <div
        class="bg-background-3 relative flex flex-col gap-y-8 overflow-hidden rounded-[20px] p-8"
      >
        <figure
          class="relative inline-block size-14 overflow-hidden rounded-full bg-linear-[135deg,#ffffff_0%,#a585ff_100%] ring-4 ring-white"
        >
          <img src="./images/ns-avatar-7.png" alt="avatar" class="max-w-full" />
          <img
            src="./images/ns-author-avatar-bg.png"
            alt="avatar"
            class="absolute top-0 left-0 -z-10"
          />
        </figure>
        <p class="text-secondary/60">
          “Discover the ultimate solution designed specifically for agencies and freelancers.”
        </p>

        <div>
          <p class="text-secondary text-lg leading-[1.5] font-medium">John Smith</p>
          <p class="text-secondary/60 text-tagline-2">Lorem Ipsum</p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a
        href="./testimonial-page-01.html"
        class="btn btn-secondary btn-md text-tagline-2 inline-block font-normal"
      >
        View all reviews
      </a>
    </div>
  </div>
</section>
