<span
  class="data-[state=false]:bg-background-4 accordion-arrow flex size-7 items-center justify-center rounded-full transition-colors duration-300 ease-in-out data-[state=true]:bg-[#142E6E]"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="10"
    height="6"
    viewBox="0 0 10 6"
    fill="none"
    class="data-[state=false]:stroke-secondary transition-colors duration-300 ease-in-out data-[state=true]:stroke-white"
  >
    <path d="M9 0.910156L5 4.91016L1 0.910156" stroke-linecap="round" stroke-linejoin="round" />
  </svg>
</span>
