<!-- faq section -->
<section class="py-18 md:py-20 lg:py-24 xl:py-39">
  <div class="main-container">
    <div
      class="flex flex-col items-center justify-center gap-y-10 xl:flex-row xl:items-start xl:justify-between xl:gap-y-0"
    >
      <div class="space-y-3 text-center sm:text-left">
        <h2 data-ns-animate data-delay="0.1" class="w-full xl:max-w-[391px]">
          Build & Grow with Scalable Tools
        </h2>
        <p
          data-ns-animate
          data-delay="0.2"
          class="w-full text-lg leading-[150%] font-normal xl:max-w-[391px]"
        >
          Get quick answers to the most common questions about our platform and services.
        </p>
      </div>

      <!-- faq item  -->
      <div
        data-ns-animate
        data-delay="0.3"
        class="accordion bg-background-4 w-full max-w-[653px] space-y-1 overflow-hidden rounded-3xl p-1 md:rounded-4xl"
      >
        <!-- item one  -->
        <div
          class="accordion-item active-accordion rounded-[18px] bg-white px-5 transition-all duration-500 ease-in-out data-[state=false]:pb-0 data-[state=true]:pb-8 md:rounded-[28px] md:px-8"
        >
          <button
            class="accordion-action flex w-full cursor-pointer items-center justify-between pt-8 transition-all duration-500 ease-in-out data-[state=false]:pb-8 data-[state=true]:pb-4"
          >
            <span
              class="lg:text-heading-6 text-tagline-1 text-secondary my-auto flex-1 text-left font-normal"
            >
              How Do These Tools Support My Business Growth?
            </span>
            <Component src="./faq-icon.htm" />
          </button>
          <div class="accordion-content">
            <div class="space-y-6">
              <p
                class="text-secondary/80 text-tagline-2 max-w-[500px] leading-[150%] font-normal md:text-lg"
              >
                Our financial management platform provides comprehensive tools designed to drive
                sustainable business growth through better financial control, insights, and
                strategic planning.
              </p>

              <ul class="space-y-2 md:space-y-1">
                <li class="flex items-center justify-start gap-x-3">
                  <span
                    class="bg-background-4 flex size-5 shrink-0 items-center justify-center rounded-full"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        fill="#1A1A1C"
                      />
                    </svg>
                  </span>
                  <p class="text-secondary/60 text-tagline-2 leading-[150%] font-normal md:text-lg">
                    Real-time cash flow tracking and forecasting
                  </p>
                </li>
                <li class="flex items-center justify-start gap-x-3">
                  <span
                    class="bg-background-4 flex size-5 shrink-0 items-center justify-center rounded-full"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        fill="#1A1A1C"
                      />
                    </svg>
                  </span>
                  <p class="text-secondary/60 text-tagline-2 leading-[150%] font-normal md:text-lg">
                    Advanced analytics and growth insights
                  </p>
                </li>
                <li class="flex items-center justify-start gap-x-3">
                  <span
                    class="bg-background-4 flex size-5 shrink-0 items-center justify-center rounded-full"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        fill="#1A1A1C"
                      />
                    </svg>
                  </span>
                  <p class="text-secondary/60 text-tagline-2 leading-[150%] font-normal md:text-lg">
                    Automated expense management
                  </p>
                </li>
                <li class="flex items-center justify-start gap-x-3">
                  <span
                    class="bg-background-4 flex size-5 shrink-0 items-center justify-center rounded-full"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        fill="#1A1A1C"
                      />
                    </svg>
                  </span>
                  <p class="text-secondary/60 text-tagline-2 leading-[150%] font-normal md:text-lg">
                    Budget planning and variance analysis
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- item two  -->
        <div
          class="accordion-item rounded-[18px] bg-white px-5 transition-all duration-500 ease-in-out data-[state=false]:pb-0 data-[state=true]:pb-8 md:rounded-[28px] md:px-8"
        >
          <button
            class="accordion-action flex w-full cursor-pointer items-center justify-between pt-8 transition-all duration-500 ease-in-out data-[state=false]:pb-8 data-[state=true]:pb-4"
          >
            <span
              class="lg:text-heading-6 text-tagline-1 text-secondary my-auto flex-1 text-left font-normal"
            >
              Are the Tools Flexible for Different Business Needs?
            </span>
            <Component src="./faq-icon.htm" />
          </button>
          <div class="accordion-content">
            <div class="space-y-6">
              <p
                class="text-secondary/80 text-tagline-2 max-w-[500px] leading-[150%] font-normal md:text-lg"
              >
                Absolutely. Our platform is designed with flexibility at its core, allowing you to
                customize financial workflows, reporting structures, and features to match your
                specific business requirements.
              </p>

              <ul class="space-y-2 md:space-y-1">
                <li class="flex items-center justify-start gap-x-3">
                  <span
                    class="bg-background-4 flex size-5 shrink-0 items-center justify-center rounded-full"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        fill="#1A1A1C"
                      />
                    </svg>
                  </span>
                  <p class="text-secondary/60 text-tagline-2 leading-[150%] font-normal md:text-lg">
                    Customizable chart of accounts
                  </p>
                </li>
                <li class="flex items-center justify-start gap-x-3">
                  <span
                    class="bg-background-4 flex size-5 shrink-0 items-center justify-center rounded-full"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        fill="#1A1A1C"
                      />
                    </svg>
                  </span>
                  <p class="text-secondary/60 text-tagline-2 leading-[150%] font-normal md:text-lg">
                    Industry-specific templates
                  </p>
                </li>
                <li class="flex items-center justify-start gap-x-3">
                  <span
                    class="bg-background-4 flex size-5 shrink-0 items-center justify-center rounded-full"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        fill="#1A1A1C"
                      />
                    </svg>
                  </span>
                  <p class="text-secondary/60 text-tagline-2 leading-[150%] font-normal md:text-lg">
                    Flexible approval workflows
                  </p>
                </li>
                <li class="flex items-center justify-start gap-x-3">
                  <span
                    class="bg-background-4 flex size-5 shrink-0 items-center justify-center rounded-full"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        fill="#1A1A1C"
                      />
                    </svg>
                  </span>
                  <p class="text-secondary/60 text-tagline-2 leading-[150%] font-normal md:text-lg">
                    Configurable dashboards and reports
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- item three  -->
        <div
          class="accordion-item rounded-[18px] bg-white px-5 transition-all duration-500 ease-in-out data-[state=false]:pb-0 data-[state=true]:pb-8 md:rounded-[28px] md:px-8"
        >
          <button
            class="accordion-action flex w-full cursor-pointer items-center justify-between pt-8 transition-all duration-500 ease-in-out data-[state=false]:pb-8 data-[state=true]:pb-4"
          >
            <span
              class="lg:text-heading-6 text-tagline-1 text-secondary my-auto flex-1 text-left font-normal"
            >
              Can the Platform Handle High Traffic and Workload?
            </span>
            <Component src="./faq-icon.htm" />
          </button>
          <div class="accordion-content">
            <div class="space-y-6">
              <p
                class="text-secondary/80 text-tagline-2 max-w-[500px] leading-[150%] font-normal md:text-lg"
              >
                Yes, our platform is built on enterprise-grade infrastructure designed to handle
                high volumes of financial transactions, multiple users, and complex reporting
                requirements without performance degradation.
              </p>

              <ul class="space-y-2 md:space-y-1">
                <li class="flex items-center justify-start gap-x-3">
                  <span
                    class="bg-background-4 flex size-5 shrink-0 items-center justify-center rounded-full"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        fill="#1A1A1C"
                      />
                    </svg>
                  </span>
                  <p class="text-secondary/60 text-tagline-2 leading-[150%] font-normal md:text-lg">
                    Cloud-based auto-scaling architecture
                  </p>
                </li>
                <li class="flex items-center justify-start gap-x-3">
                  <span
                    class="bg-background-4 flex size-5 shrink-0 items-center justify-center rounded-full"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        fill="#1A1A1C"
                      />
                    </svg>
                  </span>
                  <p class="text-secondary/60 text-tagline-2 leading-[150%] font-normal md:text-lg">
                    Real-time transaction processing
                  </p>
                </li>
                <li class="flex items-center justify-start gap-x-3">
                  <span
                    class="bg-background-4 flex size-5 shrink-0 items-center justify-center rounded-full"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        fill="#1A1A1C"
                      />
                    </svg>
                  </span>
                  <p class="text-secondary/60 text-tagline-2 leading-[150%] font-normal md:text-lg">
                    99.9% uptime guarantee
                  </p>
                </li>
                <li class="flex items-center justify-start gap-x-3">
                  <span
                    class="bg-background-4 flex size-5 shrink-0 items-center justify-center rounded-full"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        fill="#1A1A1C"
                      />
                    </svg>
                  </span>
                  <p class="text-secondary/60 text-tagline-2 leading-[150%] font-normal md:text-lg">
                    Optimized database performance
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- item four  -->
        <div
          class="accordion-item rounded-[18px] bg-white px-5 transition-all duration-500 ease-in-out data-[state=false]:pb-0 data-[state=true]:pb-8 md:rounded-[28px] md:px-8"
        >
          <button
            class="accordion-action flex w-full cursor-pointer items-center justify-between pt-8 transition-all duration-500 ease-in-out data-[state=false]:pb-8 data-[state=true]:pb-4"
          >
            <span
              class="lg:text-heading-6 text-tagline-1 text-secondary my-auto flex-1 text-left font-normal"
            >
              Do I Need Technical Skills to Use the System?
            </span>
            <Component src="./faq-icon.htm" />
          </button>
          <div class="accordion-content">
            <div class="space-y-6">
              <p
                class="text-secondary/80 text-tagline-2 max-w-[500px] leading-[150%] font-normal md:text-lg"
              >
                No technical skills required. Our platform features an intuitive, user-friendly
                interface designed for finance professionals and business owners, with comprehensive
                training and support available.
              </p>

              <ul class="space-y-2 md:space-y-1">
                <li class="flex items-center justify-start gap-x-3">
                  <span
                    class="bg-background-4 flex size-5 shrink-0 items-center justify-center rounded-full"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        fill="#1A1A1C"
                      />
                    </svg>
                  </span>
                  <p class="text-secondary/60 text-tagline-2 leading-[150%] font-normal md:text-lg">
                    Simple drag-and-drop interface
                  </p>
                </li>
                <li class="flex items-center justify-start gap-x-3">
                  <span
                    class="bg-background-4 flex size-5 shrink-0 items-center justify-center rounded-full"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        fill="#1A1A1C"
                      />
                    </svg>
                  </span>
                  <p class="text-secondary/60 text-tagline-2 leading-[150%] font-normal md:text-lg">
                    Step-by-step wizards
                  </p>
                </li>
                <li class="flex items-center justify-start gap-x-3">
                  <span
                    class="bg-background-4 flex size-5 shrink-0 items-center justify-center rounded-full"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        fill="#1A1A1C"
                      />
                    </svg>
                  </span>
                  <p class="text-secondary/60 text-tagline-2 leading-[150%] font-normal md:text-lg">
                    Video tutorials and documentation
                  </p>
                </li>
                <li class="flex items-center justify-start gap-x-3">
                  <span
                    class="bg-background-4 flex size-5 shrink-0 items-center justify-center rounded-full"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        fill="#1A1A1C"
                      />
                    </svg>
                  </span>
                  <p class="text-secondary/60 text-tagline-2 leading-[150%] font-normal md:text-lg">
                    24/7 customer support
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- item five  -->
        <div
          class="accordion-item rounded-[18px] bg-white px-5 transition-all duration-500 ease-in-out data-[state=false]:pb-0 data-[state=true]:pb-8 md:rounded-[28px] md:px-8"
        >
          <button
            class="accordion-action flex w-full cursor-pointer items-center justify-between pt-8 transition-all duration-500 ease-in-out data-[state=false]:pb-8 data-[state=true]:pb-4"
          >
            <span
              class="lg:text-heading-6 text-tagline-1 text-secondary my-auto flex-1 text-left font-normal"
            >
              Can These Tools Integrate With My Existing Software?
            </span>
            <Component src="./faq-icon.htm" />
          </button>
          <div class="accordion-content">
            <div class="space-y-6">
              <p
                class="text-secondary/80 text-tagline-2 max-w-[500px] leading-[150%] font-normal md:text-lg"
              >
                Yes, our platform offers seamless integration with a wide range of accounting
                software, banking systems, payment processors, and business applications to
                streamline your financial operations.
              </p>

              <ul class="space-y-2 md:space-y-1">
                <li class="flex items-center justify-start gap-x-3">
                  <span
                    class="bg-background-4 flex size-5 shrink-0 items-center justify-center rounded-full"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        fill="#1A1A1C"
                      />
                    </svg>
                  </span>
                  <p class="text-secondary/60 text-tagline-2 leading-[150%] font-normal md:text-lg">
                    QuickBooks, Xero, and Sage integration
                  </p>
                </li>
                <li class="flex items-center justify-start gap-x-3">
                  <span
                    class="bg-background-4 flex size-5 shrink-0 items-center justify-center rounded-full"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        fill="#1A1A1C"
                      />
                    </svg>
                  </span>
                  <p class="text-secondary/60 text-tagline-2 leading-[150%] font-normal md:text-lg">
                    Bank API integrations
                  </p>
                </li>
                <li class="flex items-center justify-start gap-x-3">
                  <span
                    class="bg-background-4 flex size-5 shrink-0 items-center justify-center rounded-full"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        fill="#1A1A1C"
                      />
                    </svg>
                  </span>
                  <p class="text-secondary/60 text-tagline-2 leading-[150%] font-normal md:text-lg">
                    Stripe, PayPal, and Square integration
                  </p>
                </li>
                <li class="flex items-center justify-start gap-x-3">
                  <span
                    class="bg-background-4 flex size-5 shrink-0 items-center justify-center rounded-full"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="7"
                      viewBox="0 0 10 7"
                      fill="none"
                    >
                      <path
                        d="M4.31661 6.75605L9.74905 1.42144C10.0836 1.0959 10.0836 0.569702 9.74905 0.244158C9.41446 -0.081386 8.87363 -0.081386 8.53904 0.244158L3.7116 4.99012L1.46096 2.78807C1.12636 2.46253 0.585538 2.46253 0.250945 2.78807C-0.0836483 3.11362 -0.0836483 3.63982 0.250945 3.96536L3.1066 6.75605C3.27347 6.91841 3.49253 7 3.7116 7C3.93067 7 4.14974 6.91841 4.31661 6.75605Z"
                        fill="#1A1A1C"
                      />
                    </svg>
                  </span>
                  <p class="text-secondary/60 text-tagline-2 leading-[150%] font-normal md:text-lg">
                    RESTful API for custom integrations
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
