<div>
  <div
    class="dropdown-menu-bridge pointer-events-none absolute top-full left-1/2 z-40 h-3 w-full min-w-[320px] -translate-x-1/2 bg-transparent opacity-0"
  ></div>
  <ul
    id="insights-dropdown-menu"
    class="dropdown-menu dark:bg-background-6 shadow-14 border-stroke-1/50 dark:border-background-7 pointer-events-none absolute top-full left-1/2 z-50 mt-2 w-[320px] -translate-x-1/2 rounded-[20px] border bg-white p-3 opacity-0 transition-all duration-300"
  >
    <li>
      <a
        href="./financial-management-platform-affiliates.html"
        class="group relative flex items-start gap-3 rounded-2xl p-3 transition-all duration-300"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div
          class="dark:bg-background-6 shadow-14 border-stroke-1 dark:border-background-7 relative z-10 flex size-11 items-center justify-center rounded-[10px] border bg-white p-3"
        >
          <Component src="src/components/shared/menu-icon/affiliate-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 text-secondary dark:text-accent font-normal">Affiliate</p>
          <p class="text-tagline-2 text-secondary/60 dark:text-accent/60 font-normal">
            Earn as affiliate
          </p>
        </div>
      </a>
    </li>

    <li>
      <a
        href="./financial-management-platform-analytics.html"
        class="group relative flex items-start gap-3 rounded-2xl p-3 transition-all duration-300"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div
          class="dark:bg-background-6 shadow-14 border-stroke-1 dark:border-background-7 relative z-10 flex size-11 items-center justify-center rounded-[10px] border bg-white p-3"
        >
          <Component src="src/components/shared/menu-icon/analytics-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 text-secondary dark:text-accent font-normal">Analytics</p>
          <p class="text-tagline-2 text-secondary/60 dark:text-accent/60 font-normal">
            Track your metrics
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./financial-management-platform-whitepaper.html"
        class="group relative flex items-start gap-3 rounded-2xl p-3 transition-all duration-300"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div
          class="dark:bg-background-6 shadow-14 border-stroke-1 dark:border-background-7 relative z-10 flex size-11 items-center justify-center rounded-[10px] border bg-white p-3"
        >
          <Component src="src/components/shared/menu-icon/whitepaper-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 text-secondary dark:text-accent font-normal">Whitepaper</p>
          <p class="text-tagline-2 text-secondary/60 dark:text-accent/60 font-normal">
            Download white papers
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./financial-management-platform-glossary.html"
        class="group relative flex items-start gap-3 rounded-2xl p-3 transition-all duration-300"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div
          class="dark:bg-background-6 shadow-14 border-stroke-1 dark:border-background-7 relative z-10 flex size-11 items-center justify-center rounded-[10px] border bg-white p-3"
        >
          <Component src="src/components/shared/menu-icon/glossary-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 text-secondary dark:text-accent font-normal">Glossary</p>
          <p class="text-tagline-2 text-secondary/60 dark:text-accent/60 font-normal">
            Explore definitions
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./financial-management-platform-changelog.html"
        class="group relative flex items-start gap-3 rounded-2xl p-3 transition-all duration-300"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div
          class="dark:bg-background-6 shadow-14 border-stroke-1 dark:border-background-7 relative z-10 flex size-11 items-center justify-center rounded-[10px] border bg-white p-3"
        >
          <Component src="src/components/shared/menu-icon/changelog-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 text-secondary dark:text-accent font-normal">Changelog</p>
          <p class="text-tagline-2 text-secondary/60 dark:text-accent/60 font-normal">
            View release notes
          </p>
        </div>
      </a>
    </li>
  </ul>
</div>
