<!-- ================
Integration-page-3 section
================ -->

<section class="pt-14 pb-20 md:pt-16 md:pb-28 lg:pt-[88px] lg:pb-44 xl:pt-[100px] xl:pb-[200px]">
  <div
    data-ns-animate
    data-delay="0.1"
    data-offset="80"
    class="dark:bg-background-6 relative z-10 mx-auto w-[95%] rounded-4xl bg-white px-10 py-[70px] md:min-h-[740px] md:px-[75px] 2xl:max-w-[1440px]"
  >
    <div class="relative z-10 mx-auto w-fit max-w-[410px] text-center lg:mt-20">
      <h2 data-ns-animate data-delay="0.2" class="mb-3">
        Effortless app <br class="hidden lg:block" />
        integration.
      </h2>
      <p data-ns-animate data-delay="0.3" class="mb-14">
        Seamlessly connect your favorite tools and platforms without the usual hassle. Our solution
        is designed to make
      </p>
      <div data-ns-animate data-delay="0.4" class="flex items-center justify-center">
        <Component
          src="src/components/shared/button-v3.htm"
          page-link="./financial-management-platform-pricing.html"
          btn-text="Read more"
          class="btn-v3-lg btn-v3-white border-secondary/20 border"
        />
      </div>
    </div>

    <div
      class="bottom-0 left-5 hidden lg:absolute lg:top-0 lg:bottom-auto lg:left-10 lg:block lg:w-1/2 lg:max-w-[400px] xl:left-20 2xl:left-0 2xl:max-w-[582px]"
    >
      <div
        class="relative flex h-full flex-row flex-wrap gap-5 py-10 lg:flex-col lg:gap-[40px] lg:py-[70px] 2xl:ps-[70px]"
      >
        <div
          data-ns-animate
          data-delay="0.4"
          class="flex gap-5 lg:ms-[60px] lg:gap-8 xl:ms-[100px] xl:gap-[75px]"
        >
          <figure
            class="bg-background-2 dark:bg-background-7 flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div
              class="dark:bg-background-8 size-[80px] rounded-full bg-white p-6 2xl:size-[100px]"
            >
              <img src="./images/icons/google-meet.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
        </div>
        <div
          data-ns-animate
          data-delay="0.5"
          class="flex gap-5 lg:gap-8 lg:self-start xl:gap-[75px]"
        >
          <figure
            class="bg-background-2 dark:bg-background-7 flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div
              class="dark:bg-background-8 size-[80px] rounded-full bg-white p-6 2xl:size-[100px]"
            >
              <img src="./images/icons/gmail.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
          <figure
            class="bg-background-2 dark:bg-background-7 flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div
              class="dark:bg-background-8 size-[80px] rounded-full bg-white p-6 2xl:size-[100px]"
            >
              <img src="./images/icons/marvel.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
        </div>
        <div
          data-ns-animate
          data-delay="0.6"
          class="flex gap-5 lg:ms-[60px] lg:gap-8 xl:ms-[100px] xl:gap-[75px]"
        >
          <figure
            class="bg-background-2 dark:bg-background-7 flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div
              class="dark:bg-background-8 size-[80px] rounded-full bg-white p-6 2xl:size-[100px]"
            >
              <img src="./images/icons/confluence.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
          <figure
            class="bg-background-2 dark:bg-background-7 flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div
              class="dark:bg-background-8 size-[80px] rounded-full bg-white p-6 2xl:size-[100px]"
            >
              <img src="./images/icons/framer.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
        </div>
        <div
          data-ns-animate
          data-delay="0.7"
          class="flex gap-5 lg:ms-[100px] lg:gap-8 xl:ms-[185px] xl:gap-[75px]"
        >
          <figure
            class="bg-background-2 dark:bg-background-7 flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div
              class="dark:bg-background-8 size-[80px] rounded-full bg-white p-6 2xl:size-[100px]"
            >
              <img
                src="./images/icons/vl.svg"
                class="size-full dark:hidden"
                alt="integration icon"
              />
              <img
                src="./images/icons/vl-white.svg"
                class="hidden size-full dark:block"
                alt="integration icon"
              />
            </div>
          </figure>
          <figure
            class="bg-background-2 dark:bg-background-7 flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div
              class="dark:bg-background-8 size-[80px] rounded-full bg-white p-6 2xl:size-[100px]"
            >
              <img src="./images/icons/edge.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
        </div>
      </div>
    </div>
    <div
      class="right-5 bottom-0 hidden lg:absolute lg:top-0 lg:right-10 lg:bottom-auto lg:block lg:w-1/2 lg:max-w-[400px] xl:right-28 2xl:right-0 2xl:max-w-[582px]"
    >
      <div
        class="relative flex h-full flex-row flex-wrap gap-5 py-10 lg:flex-col lg:gap-[40px] lg:py-[70px] 2xl:pe-[70px]"
      >
        <div data-ns-animate data-delay="0.4" class="flex lg:me-[60px] lg:self-end xl:me-[100px]">
          <figure
            class="bg-background-2 dark:bg-background-7 flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div
              class="dark:bg-background-8 size-[80px] rounded-full bg-white p-6 2xl:size-[100px]"
            >
              <img src="./images/icons/confluence.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
        </div>
        <div
          data-ns-animate
          data-delay="0.5"
          class="flex gap-8 lg:gap-[50px] lg:self-end xl:gap-[75px]"
        >
          <figure
            class="bg-background-2 dark:bg-background-7 flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div
              class="dark:bg-background-8 size-[80px] rounded-full bg-white p-6 2xl:size-[100px]"
            >
              <img src="./images/icons/slack.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
          <figure
            class="bg-background-2 dark:bg-background-7 flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div
              class="dark:bg-background-8 size-[80px] rounded-full bg-white p-6 2xl:size-[100px]"
            >
              <img src="./images/icons/snapchat.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
        </div>
        <div
          data-ns-animate
          data-delay="0.6"
          class="flex gap-8 lg:me-[60px] lg:gap-[50px] lg:self-end xl:me-[100px] xl:gap-[75px]"
        >
          <figure
            class="bg-background-2 dark:bg-background-7 flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div
              class="dark:bg-background-8 size-[80px] rounded-full bg-white p-6 2xl:size-[100px]"
            >
              <img src="./images/icons/google.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
          <figure
            class="bg-background-2 dark:bg-background-7 flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div
              class="dark:bg-background-8 size-[80px] rounded-full bg-white p-6 2xl:size-[100px]"
            >
              <img src="./images/icons/ms_yammer.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
        </div>
        <div
          data-ns-animate
          data-delay="0.7"
          class="flex gap-8 self-end lg:me-[100px] lg:gap-[50px] xl:me-[185px] xl:gap-[75px]"
        >
          <figure
            class="bg-background-2 dark:bg-background-7 flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div
              class="dark:bg-background-8 size-[80px] rounded-full bg-white p-6 2xl:size-[100px]"
            >
              <img src="./images/icons/microsoft.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
          <figure
            class="bg-background-2 dark:bg-background-7 flex size-[100px] items-center justify-center rounded-full 2xl:size-[120px]"
          >
            <div
              class="dark:bg-background-8 size-[80px] rounded-full bg-white p-6 2xl:size-[100px]"
            >
              <img src="./images/icons/figma.svg" class="size-full" alt="integration icon" />
            </div>
          </figure>
        </div>
      </div>
    </div>
    <div
      class="integration-list-1 mt-8 flex flex-wrap items-center justify-center gap-4 px-6 sm:px-10 md:mt-20 lg:hidden"
    >
      <figure
        data-ns-animate
        data-delay="0.4"
        class="bg-background-2 dark:bg-background-7 flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="dark:bg-background-6 size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/google-meet.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.4"
        class="bg-background-2 dark:bg-background-7 flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="dark:bg-background-6 size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/gmail.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.4"
        class="bg-background-2 dark:bg-background-7 flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="dark:bg-background-6 size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/marvel.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.4"
        class="bg-background-2 dark:bg-background-7 flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="dark:bg-background-6 size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/confluence.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.5"
        class="bg-background-2 dark:bg-background-7 flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="dark:bg-background-6 size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/framer.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.5"
        class="bg-background-2 dark:bg-background-7 flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="dark:bg-background-6 size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/vl.svg" class="size-full dark:hidden" alt="integration icon" />
          <img
            src="./images/icons/vl-white.svg"
            class="hidden size-full dark:block"
            alt="integration icon"
          />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.5"
        class="bg-background-2 dark:bg-background-7 flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="dark:bg-background-6 size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/edge.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>

      <figure
        data-ns-animate
        data-delay="0.5"
        class="bg-background-2 dark:bg-background-7 flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="dark:bg-background-6 size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/confluence.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.6"
        class="bg-background-2 dark:bg-background-7 flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="dark:bg-background-6 size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/slack.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.6"
        class="bg-background-2 dark:bg-background-7 flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="dark:bg-background-6 size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/snapchat.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.6"
        class="bg-background-2 dark:bg-background-7 flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="dark:bg-background-6 size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/google.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.6"
        class="bg-background-2 dark:bg-background-7 flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="dark:bg-background-6 size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/ms_yammer.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.7"
        class="bg-background-2 dark:bg-background-7 flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="dark:bg-background-6 size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/microsoft.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
      <figure
        data-ns-animate
        data-delay="0.7"
        class="bg-background-2 dark:bg-background-7 flex size-14 items-center justify-center rounded-full sm:size-[75px]"
      >
        <div class="dark:bg-background-6 size-10 rounded-full bg-white p-2 sm:size-[60px]">
          <img src="./images/icons/figma.svg" class="size-full" alt="integration icon" />
        </div>
      </figure>
    </div>
  </div>
</section>
