<!-- =========================
Use Case section
===========================-->
<section class="bg-background-2 dark:bg-background-5 pt-[80px] pb-[80px] xl:pb-[200px]">
  <div class="main-container">
    <div
      class="mb-[70px] flex flex-col items-center justify-between gap-4 lg:flex-row lg:items-end lg:gap-0"
    >
      <div class="flex-1 text-center lg:text-left">
        <div class="space-y-3">
          <span data-ns-animate data-delay="0.1" class="badge badge-green">Use cases</span>
          <h2 data-ns-animate data-delay="0.2" class="max-w-[518px]">
            How We Connect with Customers
          </h2>
        </div>
      </div>
      <div class="flex-1 text-center lg:text-left">
        <div>
          <p data-ns-animate data-delay="0.3" class="mx-auto max-w-[518px] lg:mx-0">
            Explore the ways our innovative solutions improve communication and boost efficiency in
            your organization. From streamlined workflows to enhanced collaboration tools, we
            provide everything you need to succeed.
          </p>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-12 gap-y-14 lg:gap-8">
      <div data-ns-animate data-delay="0.4" class="col-span-12 lg:col-span-4">
        <div class="space-y-6">
          <div class="max-lg:text-center">
            <span class="ns-shape-32 text-secondary dark:text-accent text-[52px]"></span>
          </div>
          <div class="space-y-1 text-center lg:text-left">
            <h3 class="text-heading-5">Web & mobile apps</h3>
            <p class="mx-auto max-w-[337px] lg:mx-0">
              Engage visitors with real-time chat on your website and mobile apps.
            </p>
          </div>
          <div class="text-center md:text-left">
            <Component
              src="src/components/shared/button-v3.htm"
              page-link="#"
              btn-text="Read more"
              class="btn-v3-lg btn-v3-white border-secondary/20 mx-auto border lg:mx-0"
            />
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.5" class="col-span-12 lg:col-span-4">
        <div class="space-y-6">
          <div class="max-lg:text-center">
            <span class="ns-shape-35 text-secondary dark:text-accent text-[52px]"></span>
          </div>
          <div class="space-y-1 text-center lg:text-left">
            <h3 class="text-heading-5">Social media</h3>
            <p class="mx-auto max-w-[338px] lg:mx-0">
              Provide instant support on WhatsApp, Facebook Messenger, Instagram
            </p>
          </div>
          <div class="text-center md:text-left">
            <Component
              src="src/components/shared/button-v3.htm"
              page-link="#"
              btn-text="Read more"
              class="btn-v3-lg btn-v3-white border-secondary/20 mx-auto border lg:mx-0"
            />
          </div>
        </div>
      </div>
      <div data-ns-animate data-delay="0.6" class="col-span-12 lg:col-span-4">
        <div class="space-y-6">
          <div class="max-lg:text-center">
            <span class="ns-shape-52 text-secondary dark:text-accent text-[52px]"></span>
          </div>
          <div class="space-y-1 text-center lg:text-left">
            <h3 class="text-heading-5">Business tools</h3>
            <p class="mx-auto max-w-[313px] lg:mx-0">
              Connect messaging with Slack, Microsoft Teams, and CRM platforms for seamless
            </p>
          </div>
          <div class="text-center md:text-left">
            <Component
              src="src/components/shared/button-v3.htm"
              page-link="#"
              btn-text="Read more"
              class="btn-v3-lg btn-v3-white border-secondary/20 mx-auto border lg:mx-0"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
