<!-- ======================  
 Spotlight Stories 
====================== -->
<section class="py-12 md:py-18 lg:pb-24 xl:py-28" aria-label="spotlight stories section">
  <div class="main-container space-y-17.5">
    <div
      class="flex flex-col items-center justify-center space-y-8 gap-y-6 md:justify-between md:space-y-0 lg:gap-y-0 xl:flex-row"
    >
      <div>
        <h2 data-ns-animate data-delay="0.1">Spotlight Stories</h2>
        <p data-ns-animate data-delay="0.2" class="text-center lg:text-left">
          Real results from real teams
        </p>
      </div>

      <!-- btns -->
      <div
        class="flex flex-col items-center justify-start gap-x-4 gap-y-3 max-md:w-full md:flex-row md:gap-y-0"
      >
        <div
          data-ns-animate
          data-delay="0.3"
          data-direction="left"
          data-offset="70"
          class="mx-auto w-[80%] md:mx-0 md:w-auto"
        >
          <Component
            src="src/components/shared/button-v3.htm"
            page-link="./financial-management-platform-customer.html"
            btn-text="Read customer stories"
            class="btn-v3-lg btn-v3-secondary"
          />
        </div>

        <div
          data-ns-animate
          data-delay="0.4"
          data-direction="left"
          data-offset="70"
          class="modal-action w-[80%] md:w-auto"
        >
          <Component
            src="src/components/shared/button-v3.htm"
            page-link="./financial-management-platform-contact.html"
            btn-text="Share your story"
            class="btn-v3-lg btn-v3-stone !w-full sm:!w-fit"
          />
        </div>
      </div>
    </div>

    <!-- stories -->
    <article class="flex flex-col items-center justify-center gap-5 lg:flex-row lg:gap-2">
      <div
        class="bg-background-3 dark:bg-background-5 max-w-full rounded-xl p-6 xl:max-w-[316px]"
        data-ns-animate
        data-delay="0.1"
      >
        <figure>
          <img src="./images/icons/hotjar.svg" alt="story" />
        </figure>
        <p class="text-secondary dark:text-accent pt-16 pb-8">
          We easily converted scripts into natural voices and scaled our ad campaigns faster than
          ever.
        </p>

        <figure class="flex items-center gap-3">
          <img
            src="./images/ns-avatar-20.png"
            class="size-11 rounded-full object-cover object-center"
            alt="Andrew Gasiorowski's avatar"
            width="44"
            height="44"
            loading="lazy"
          />

          <figure>
            <h3 class="text-tagline-1 leading-[1.5] font-semibold sm:text-lg">
              Andrew Gasiorowski
            </h3>
            <p class="text-tagline-2 text-secondary/60 dark:text-accent/60 font-normal">
              NLP Engineer Goodcall
            </p>
          </figure>
        </figure>
      </div>

      <div class="max-w-full space-y-5 max-lg:w-full lg:space-y-2">
        <div
          class="bg-background-3 dark:bg-background-5 rounded-xl p-6 xl:max-w-[316px]"
          data-ns-animate
          data-delay="0.2"
        >
          <span
            data-ns-animate
            data-delay="0.1"
            class="bg-background-12 text-secondary text-tagline-3 rounded-full px-5 py-1.5 font-medium text-nowrap"
            >Case study</span
          >
          <p class="text-secondary dark:text-accent pt-16 pb-8">
            SoundWave Studios boosts video output by 40% using AI-generated voices.
          </p>

          <div class="w-[90%] md:w-auto">
            <Component
              src="src/components/shared/button-v3.htm"
              page-link="#"
              btn-text="Read now"
              class="btn-v3-lg btn-v3-secondary"
            />
          </div>
        </div>

        <div
          class="bg-ns-green space-y-3 rounded-xl p-6 xl:max-w-[316px]"
          data-ns-animate
          data-delay="0.3"
        >
          <h2
            class="text-secondary pt-6 text-4xl font-light sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl xl:leading-[110%]"
          >
            50%
          </h2>

          <p class="text-secondary/60">
            less time spent on dubbing compared to traditional workflows.
          </p>
        </div>
      </div>

      <div class="max-w-full space-y-5 max-lg:w-full lg:space-y-2">
        <div
          class="bg-background-3 dark:bg-background-5 rounded-xl p-6 xl:max-w-[316px]"
          data-ns-animate
          data-delay="0.4"
        >
          <figure>
            <img src="./images/icons/stripe.svg" alt="story" />
          </figure>
          <p class="text-secondary dark:text-accent pt-37.5 pb-8">
            The voice clarity and tone customization blew us away!
          </p>

          <figure class="flex items-center gap-3">
            <img
              src="./images/ns-avatar-21.png"
              class="size-11 rounded-full object-cover object-center"
              alt="Andrew Gasiorowski's avatar"
              width="44"
              height="44"
              loading="lazy"
            />

            <figure>
              <h3 class="text-tagline-1 leading-[1.5] font-semibold sm:text-lg">Carlos M.</h3>
              <p class="text-tagline-2 text-secondary/60 dark:text-accent/60 font-normal">
                Business Owner
              </p>
            </figure>
          </figure>
        </div>

        <div
          class="bg-background-3 dark:bg-background-5 rounded-xl p-6 xl:max-w-[316px]"
          data-ns-animate
          data-delay="0.2"
        >
          <figure>
            <img src="./images/icons/notion-v2.svg" alt="story" />
          </figure>
          <p class="text-secondary dark:text-accent pt-31 pb-8">
            We instantly localize our campaigns with natural accents — no extra cost, no delays.
          </p>

          <figure class="flex items-center gap-3">
            <img
              src="./images/ns-avatar-23.png"
              class="size-11 rounded-full object-cover object-center"
              alt="Andrew Gasiorowski's avatar"
              width="44"
              height="44"
              loading="lazy"
            />

            <figure>
              <h3 class="text-tagline-1 leading-[1.5] font-semibold sm:text-lg">Nora Kim.</h3>
              <p class="text-tagline-2 text-secondary/60 dark:text-accent/60 font-normal">
                Marketing Lead, AdPulse Global
              </p>
            </figure>
          </figure>
        </div>
      </div>

      <div class="max-w-full space-y-5 lg:space-y-2">
        <div
          class="bg-secondary dark:bg-background-5 rounded-xl p-6 xl:max-w-[316px]"
          data-ns-animate
          data-delay="0.4"
        >
          <span
            data-ns-animate
            data-delay="0.1"
            class="bg-accent/10 text-tagline-3 rounded-full px-5 py-1.5 font-medium text-nowrap text-white"
            >Case study</span
          >
          <p class="pt-5 pb-8 text-white">
            SoundWave Studios boosts video output by 40% using AI-generated voices.
          </p>

          <div class="w-[90%] md:w-auto">
            <Component
              src="src/components/shared/button-v3.htm"
              page-link="#"
              btn-text="Read now"
              class="btn-v3-lg btn-v3-white"
            />
          </div>
        </div>

        <div
          class="bg-background-3 dark:bg-background-5 rounded-xl p-6 xl:max-w-[316px]"
          data-ns-animate
          data-delay="0.3"
        >
          <figure>
            <img src="./images/icons/scapic.svg" alt="story" />
          </figure>
          <p class="text-secondary dark:text-accent pt-19 pb-8">
            Our explainer videos now sound professional without hiring multiple voice actors. It’s a
            total game-changer.
          </p>

          <figure class="flex items-center gap-3">
            <img
              src="./images/ns-avatar-17.png"
              class="size-11 rounded-full object-cover object-center"
              alt="Andrew Gasiorowski's avatar"
              width="44"
              height="44"
              loading="lazy"
            />

            <figure>
              <h3 class="text-tagline-1 leading-[1.5] font-semibold sm:text-lg">Liam Brooks</h3>
              <p class="text-tagline-2 text-secondary/60 dark:text-accent/60 font-normal">
                Video Producer, BrightMotion
              </p>
            </figure>
          </figure>
        </div>
      </div>
    </article>
  </div>
</section>
