<section data-ns-animate data-delay="0.5" class="py-16 xl:py-19">
  <div class="main-container">
    <h2 class="text-heading-5 font-normal">Key takeaways</h2>
    <ul class="py-6">
      <li class="flex items-center gap-2 p-3">
        <div
          class="bg-background-4 dark:bg-background-7 flex size-11 shrink-0 items-center justify-center rounded-full p-1"
        >
          <div
            class="dark:bg-background-5 text-tagline-1 text-secondary dark:text-accent flex size-9 shrink-0 items-center justify-center rounded-full bg-white font-medium shadow-[0_1px_2px_0_rgba(0,0,0,0.15)]"
          >
            1
          </div>
        </div>
        <p class="text-secondary/80 dark:text-accent/80">
          Compliance frameworks such as SOC 2, ISO 27001, and GDPR set you apart.
        </p>
      </li>
      <li>
        <div class="bg-stroke-1 dark:bg-background-7 h-px w-full"></div>
      </li>
      <li class="flex items-center gap-2 p-3">
        <div
          class="bg-background-4 dark:bg-background-7 flex size-11 shrink-0 items-center justify-center rounded-full p-1"
        >
          <div
            class="dark:bg-background-5 text-tagline-1 text-secondary dark:text-accent flex size-9 shrink-0 items-center justify-center rounded-full bg-white font-medium shadow-[0_1px_2px_0_rgba(0,0,0,0.15)]"
          >
            2
          </div>
        </div>
        <p class="text-secondary/80 dark:text-accent/80">
          Automated monitoring can cut response time by 70%.
        </p>
      </li>
      <li>
        <div class="bg-stroke-1 dark:bg-background-7 h-px w-full"></div>
      </li>
      <li class="flex items-center gap-2 p-3">
        <div
          class="bg-background-4 dark:bg-background-7 flex size-11 shrink-0 items-center justify-center rounded-full p-1"
        >
          <div
            class="dark:bg-background-5 text-tagline-1 text-secondary dark:text-accent flex size-9 shrink-0 items-center justify-center rounded-full bg-white font-medium shadow-[0_1px_2px_0_rgba(0,0,0,0.15)]"
          >
            3
          </div>
        </div>
        <p class="text-secondary/80 dark:text-accent/80">
          Transparency boosts customer retention and deal conversion.
        </p>
      </li>
    </ul>
    <p class="w-full max-w-3xl">
      In today’s fast-paced SaaS landscape, security and scalability go hand in hand. Organizations
      that prioritize proactive risk management, compliance automation, and transparent data
      practices gain not only protection but also customer confidence and long-term growth.
    </p>
    <div class="mt-14">
      <div data-ns-animate data-delay="0.4" data-direction="left" data-offset="50">
        <Component
          src="src/components/shared/button-v3.htm"
          page-link="#"
          btn-text="View whitepaper"
          aria-label="View whitepaper"
          class="btn-v3-lg btn-v3-secondary"
        />
      </div>
    </div>
  </div>
</section>
